## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = []
for i in range(80):
    a = random.randint(1, 80)
    sample_list_1.append(a)
print(sample_list_1)

[35, 74, 29, 76, 55, 44, 55, 73, 64, 47, 73, 13, 48, 71, 34, 35, 64, 49, 59, 20, 6, 59, 75, 12, 22, 56, 77, 45, 63, 55, 26, 65, 13, 73, 15, 53, 79, 35, 77, 66, 68, 10, 2, 58, 48, 54, 72, 59, 17, 32, 49, 63, 37, 4, 29, 8, 53, 79, 27, 50, 69, 51, 45, 18, 9, 15, 29, 22, 12, 50, 15, 80, 80, 35, 51, 41, 53, 17, 67, 63]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print(set1)
len(set1)

{2, 4, 6, 8, 9, 10, 12, 13, 15, 17, 18, 20, 22, 26, 27, 29, 32, 34, 35, 37, 41, 44, 45, 47, 48, 49, 50, 51, 53, 54, 55, 56, 58, 59, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 79, 80}

50

No. It did not repeat values.

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [4]:
sample_list_2 = []
for i in range(80):
    b = random.randint(1, 100)
    sample_list_2.append(b)
print(sample_list_2)

[44, 25, 36, 27, 94, 37, 81, 96, 93, 18, 8, 29, 74, 71, 52, 30, 20, 7, 34, 81, 37, 86, 86, 31, 26, 93, 20, 25, 100, 22, 1, 67, 86, 29, 32, 8, 8, 53, 21, 15, 50, 59, 83, 55, 60, 99, 57, 83, 98, 79, 45, 27, 84, 65, 93, 62, 45, 35, 67, 6, 85, 95, 85, 12, 38, 66, 2, 98, 80, 95, 59, 40, 69, 63, 48, 90, 36, 1, 48, 23]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(set2)
len(set2)

{1, 2, 6, 7, 8, 12, 15, 18, 20, 21, 22, 23, 25, 26, 27, 29, 30, 31, 32, 34, 35, 36, 37, 38, 40, 44, 45, 48, 50, 52, 53, 55, 57, 59, 60, 62, 63, 65, 66, 67, 69, 71, 74, 79, 80, 81, 83, 84, 85, 86, 90, 93, 94, 95, 96, 98, 99, 100}

58

No, the values do not repeat.

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3_list = []
included1 = []

for i in set1: 
    if i in set2:
        included1.append(i)
    else:
        set3_list.append(i)
set3 = set(set3_list)
print(set3)

{4, 9, 10, 13, 17, 41, 47, 49, 51, 54, 56, 58, 64, 68, 72, 73, 75, 76, 77}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
included2 = []
set4_list = []

for i in set1: 
    if i in set2:
        included2.append(i)
    else:
        set4_list.append(i)

set4 = set(set4_list)

print(set4)

{4, 9, 10, 13, 17, 41, 47, 49, 51, 54, 56, 58, 64, 68, 72, 73, 75, 76, 77}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
shared = included2 + included1
set5 = set(shared)

print(set5)
len(set5)

{2, 6, 8, 12, 15, 18, 20, 22, 26, 27, 29, 32, 34, 35, 37, 44, 45, 48, 50, 53, 55, 59, 63, 65, 66, 67, 69, 71, 74, 79, 80}

31

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [9]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

50
58
19
19
31

While set1 and set2 are independent with separate lengths, set3 and set4 should be the same. If you check if an element in set2 is in set1, the opposite should be true. 
The rest of the numbers not mentioned yet, should make up set 5.

#### Create an empty set called `set6`.

In [10]:
set6_list = []
set6 = set(set6_list)

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3, set5)
print(set6)

{2, 4, 6, 8, 9, 10, 12, 13, 15, 17, 18, 20, 22, 26, 27, 29, 32, 34, 35, 37, 41, 44, 45, 47, 48, 49, 50, 51, 53, 54, 55, 56, 58, 59, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 79, 80}

#### Check if `set1` and `set6` are equal.

In [12]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [13]:
set1.issubset(set2)
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
setunion_345 = set.union(set3, set4, set5)
setunion_12 = set.union(set1, set2)
setunion_345 == setunion_12

False

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
set1_list = list(set1)
set1_list.pop(0)
set1 = set(set1_list)
print(set1)

{4, 6, 8, 9, 10, 12, 13, 15, 17, 18, 20, 22, 26, 27, 29, 32, 34, 35, 37, 41, 44, 45, 47, 48, 49, 50, 51, 53, 54, 55, 56, 58, 59, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 79, 80}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 3, 9, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 9, 1, 99]
set1_list = list(set1)

In [17]:
included_in_list = []
for i in list_to_remove: 
    if i in set1_list:
        included_in_list.append(i)

In [18]:
print(included_in_list)

[9, 29, 9, 41, 49, 51, 59, 69, 71, 79, 9]

In [19]:
set_included_in_list = set(included_in_list)

In [20]:
print(set_included_in_list)

{69, 71, 9, 41, 79, 49, 51, 59, 29}

In [21]:
set1 - (set_included_in_list)

{4,
 6,
 8,
 10,
 12,
 13,
 15,
 17,
 18,
 20,
 22,
 26,
 27,
 32,
 34,
 35,
 37,
 44,
 45,
 47,
 48,
 50,
 53,
 54,
 55,
 56,
 58,
 63,
 64,
 65,
 66,
 67,
 68,
 72,
 73,
 74,
 75,
 76,
 77,
 80}