## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [15]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [202]:
# Your code here
sample_list_1=[]


sample_list_1=random.sample(range(101), 80 )

print(sample_list_1)
len(sample_list_1)

[72, 17, 77, 10, 62, 90, 94, 88, 20, 25, 47, 75, 69, 26, 95, 80, 50, 31, 21, 39, 82, 53, 56, 61, 4, 92, 2, 70, 33, 46, 38, 3, 83, 93, 36, 99, 18, 28, 44, 6, 8, 81, 67, 16, 65, 89, 37, 1, 30, 45, 76, 79, 22, 14, 58, 54, 7, 84, 13, 60, 12, 29, 32, 34, 71, 85, 78, 5, 40, 74, 52, 27, 41, 51, 19, 57, 64, 63, 100, 97]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [203]:
# Your code here
set1=set(sample_list_1)
len(set1)

#The lenght is the same because sets don't allow duplicates

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [204]:
# Your code here
sample_list_2=[]
for i in range(80):
    sample_list_2.append(random.randrange(100))
print(sample_list_2)
len(sample_list_2)

[89, 35, 77, 58, 58, 31, 70, 21, 14, 70, 55, 10, 26, 78, 81, 27, 53, 79, 82, 89, 41, 56, 19, 99, 80, 99, 14, 97, 53, 50, 26, 91, 13, 31, 23, 79, 11, 37, 60, 9, 57, 1, 49, 76, 34, 5, 71, 69, 77, 79, 80, 39, 38, 84, 35, 17, 45, 54, 1, 23, 79, 11, 12, 20, 3, 54, 78, 48, 0, 98, 22, 90, 10, 13, 16, 10, 39, 70, 58, 8]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [205]:
# Your code here
set2=set(sample_list_2)
print(len(set2))
print(set2)
#The lenght is different because sets don't allow duplicates

55
{0, 1, 3, 5, 8, 9, 10, 11, 12, 13, 14, 16, 17, 19, 20, 21, 22, 23, 26, 27, 31, 34, 35, 37, 38, 39, 41, 45, 48, 49, 50, 53, 54, 55, 56, 57, 58, 60, 69, 70, 71, 76, 77, 78, 79, 80, 81, 82, 84, 89, 90, 91, 97, 98, 99}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [206]:
# Your code here
set3=set()

for i in set1:
    set3.add(i)
for j in set2:
    set3.discard(j)
    


print(set3)

{2, 4, 6, 7, 18, 25, 28, 29, 30, 32, 33, 36, 40, 44, 46, 47, 51, 52, 61, 62, 63, 64, 65, 67, 72, 74, 75, 83, 85, 88, 92, 93, 94, 95, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [207]:
# Your code here
set4=set()

for i in set2:
    set4.add(i)
for j in set1:
    set4.discard(j)


print(set4)

{0, 9, 11, 23, 35, 48, 49, 55, 91, 98}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [208]:
# Your code here
set5=set1.intersection(set2)

print(set5)

{1, 3, 5, 8, 10, 12, 13, 14, 16, 17, 19, 20, 21, 22, 26, 27, 31, 34, 37, 38, 39, 41, 45, 50, 53, 54, 56, 57, 58, 60, 69, 70, 71, 76, 77, 78, 79, 80, 81, 82, 84, 89, 90, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [209]:
# Your code here
print("lenght set1:", len(set1))
print("lenght set2:", len(set2))
print("lenght set3:", len(set3))
print("lenght set4:", len(set4))
print("lenght set5:", len(set5))

print(len(set3)+len(set5)) ###len(set1)
print(len(set4)+len(set5)) ###len(set2)

lenght set1: 80
lenght set2: 55
lenght set3: 35
lenght set4: 10
lenght set5: 45
80
55

#### Create an empty set called `set6`.

In [210]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [211]:
# Your code here
set6.update(set3)
set6.update(set5)

print(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 44, 45, 46, 47, 50, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 65, 67, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 88, 89, 90, 92, 93, 94, 95, 97, 99, 100}

#### Check if `set1` and `set6` are equal.

In [212]:
# Your code here
print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [213]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [214]:
# Your code here x.union(y, z)
set7=set3.union(set4,set6)
set8=set7.union(set1,set2)
print(set8)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 67, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [215]:
# Your code here
print(set1)
set1.pop()
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 44, 45, 46, 47, 50, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 65, 67, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 88, 89, 90, 92, 93, 94, 95, 97, 99, 100}
{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 44, 45, 46, 47, 50, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 65, 67, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 88, 89, 90, 92, 93, 94, 95, 97, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [216]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    set1.discard(i)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 16, 17, 18, 20, 22, 25, 26, 27, 28, 30, 32, 33, 34, 36, 37, 38, 40, 44, 45, 46, 47, 50, 52, 53, 54, 56, 57, 58, 60, 62, 63, 64, 65, 67, 70, 72, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 88, 90, 92, 93, 94, 95, 97, 100}