## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
sample_list_1 = random.sample(range(0,100), k=80)
print (sample_list_1)

[14, 74, 83, 0, 48, 26, 72, 52, 93, 62, 36, 60, 28, 39, 94, 78, 65, 63, 84, 24, 2, 73, 45, 13, 18, 85, 98, 99, 88, 47, 77, 15, 20, 55, 86, 53, 22, 35, 79, 32, 91, 61, 12, 29, 75, 44, 37, 80, 96, 81, 95, 66, 97, 69, 27, 51, 19, 8, 46, 21, 17, 6, 4, 41, 30, 58, 54, 49, 89, 70, 76, 43, 87, 5, 71, 7, 38, 1, 57, 23]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [11]:
set1 = set(sample_list_1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [14]:
sample_list_2 = []

for i in range(0,80):
    sample_list_2.append(random.randrange(0,100))
    
print(sample_list_2)

[89, 45, 25, 77, 55, 54, 86, 68, 59, 66, 1, 95, 29, 7, 56, 93, 37, 54, 55, 96, 57, 87, 12, 97, 49, 77, 32, 57, 60, 74, 74, 5, 88, 86, 16, 11, 18, 40, 57, 11, 24, 58, 77, 49, 98, 24, 70, 3, 51, 12, 66, 29, 8, 68, 32, 72, 3, 14, 52, 85, 30, 95, 70, 90, 25, 24, 47, 91, 18, 58, 34, 39, 43, 31, 70, 13, 32, 2, 77, 12]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [16]:
set2 = set(sample_list_2)

print(len(set2))

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [28]:
set3 = []

for num in set1: 
    if not num in set2:
        set3.append(num)

set3 = set(set3)
print(set3)

{0, 4, 6, 15, 17, 19, 20, 21, 22, 23, 26, 27, 28, 35, 36, 38, 41, 44, 46, 48, 53, 61, 62, 63, 65, 69, 71, 73, 75, 76, 78, 79, 80, 81, 83, 84, 94, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [29]:
set4 = []

for num in set2: 
    if not num in set1:
        set4.append(num)
        
set4 = set(set4)
print(set4)

{34, 3, 68, 40, 11, 16, 56, 25, 90, 59, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [30]:
set5 = []

for num in set1: 
    if num in set2:
        set5.append(num)
      
set5 = set(set5)
print(set5)

{1, 2, 5, 7, 8, 12, 13, 14, 18, 24, 29, 30, 32, 37, 39, 43, 45, 47, 49, 51, 52, 54, 55, 57, 58, 60, 66, 70, 72, 74, 77, 85, 86, 87, 88, 89, 91, 93, 95, 96, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [34]:
print(len(set1),len(set2),len(set3),len(set4),len(set5))

# set1 is the combination of set3 and set5
# set2 is the combination set4 and set5

# set1 is complementary to set4
# set2 is complementary to set3

80 53 38 11 42

#### Create an empty set called `set6`.

In [39]:
set6 = []
set6 = set(set6)

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [42]:
set6.update(set5,set3)

print(set6)

{0, 1, 2, 4, 5, 6, 7, 8, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 32, 35, 36, 37, 38, 39, 41, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 57, 58, 60, 61, 62, 63, 65, 66, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 91, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [43]:
print (set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [47]:
print(set2.issubset(set1))

print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [51]:
aggregated1 = set.union(set3, set4, set5)

aggregated2 = set.union(set2,set1)

print (aggregated1 == aggregated2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [53]:
popped = set1.pop()
print(popped)

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [56]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for rem in list_to_remove: 
    if rem in set1: 
        set1.remove(rem)
        
print(set1)

{2, 4, 5, 6, 7, 8, 12, 13, 14, 15, 17, 18, 20, 22, 23, 24, 26, 27, 28, 30, 32, 35, 36, 37, 38, 43, 44, 45, 46, 47, 48, 52, 53, 54, 55, 57, 58, 60, 62, 63, 65, 66, 70, 72, 73, 74, 75, 76, 77, 78, 80, 83, 84, 85, 86, 87, 88, 93, 94, 95, 96, 97, 98}