## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [15]:
sample_list_1 = random.sample(range(100), k=80)

print(sample_list_1)

[0, 54, 61, 21, 65, 56, 12, 10, 26, 77, 52, 69, 34, 5, 73, 3, 45, 71, 17, 36, 15, 24, 2, 79, 89, 95, 64, 43, 57, 8, 49, 4, 50, 67, 31, 72, 48, 94, 92, 99, 62, 93, 66, 60, 14, 33, 35, 40, 19, 11, 87, 29, 83, 74, 16, 91, 84, 37, 76, 78, 59, 25, 20, 9, 75, 32, 13, 53, 6, 30, 68, 38, 46, 22, 1, 96, 97, 7, 28, 44]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [20]:
set1 = set(sample_list_1)

print(set1)

if len(set1) == 80:
    print ("The length of the new set is:", len(set1))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 43, 44, 45, 46, 48, 49, 50, 52, 53, 54, 56, 57, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 83, 84, 87, 89, 91, 92, 93, 94, 95, 96, 97, 99}
The length of the new set is: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [36]:
sample_list_2 = []

for i in range(80):
    a= random.randrange(0,100)
    sample_list_2.append(a)
    
print(sample_list_2)

[75, 96, 86, 81, 38, 57, 12, 96, 97, 25, 81, 7, 61, 31, 79, 51, 35, 29, 76, 53, 3, 49, 39, 19, 80, 19, 77, 79, 74, 35, 17, 50, 94, 51, 38, 58, 19, 42, 83, 37, 56, 9, 7, 73, 24, 0, 50, 60, 88, 73, 90, 36, 3, 3, 59, 26, 94, 58, 0, 49, 54, 10, 19, 36, 61, 61, 39, 4, 60, 92, 40, 10, 20, 21, 63, 72, 56, 51, 17, 63]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [39]:
set2 = set(sample_list_2)

print (set2)

print ("The length of the new set is:" , len(set2))
print("As we we converted from a list to a set, repeated elements have dissapeared.")

{0, 3, 4, 7, 9, 10, 12, 17, 19, 20, 21, 24, 25, 26, 29, 31, 35, 36, 37, 38, 39, 40, 42, 49, 50, 51, 53, 54, 56, 57, 58, 59, 60, 61, 63, 72, 73, 74, 75, 76, 77, 79, 80, 81, 83, 86, 88, 90, 92, 94, 96, 97}
The length of the new set is: 52
As we we converted from a list to a set, repeated elements have dissapeared.

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [41]:
set3 = set1 - set2
print(set3)

{1, 2, 5, 6, 8, 11, 13, 14, 15, 16, 22, 28, 30, 32, 33, 34, 43, 44, 45, 46, 48, 52, 62, 64, 65, 66, 67, 68, 69, 71, 78, 84, 87, 89, 91, 93, 95, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [42]:
set4 = set2 - set1
print(set4)

{90, 39, 42, 80, 81, 51, 86, 88, 58, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [49]:
set5 = set1.intersection(set2)
print(set5)

{0, 3, 4, 7, 9, 10, 12, 17, 19, 20, 21, 24, 25, 26, 29, 31, 35, 36, 37, 38, 40, 49, 50, 53, 54, 56, 57, 59, 60, 61, 72, 73, 74, 75, 76, 77, 79, 83, 92, 94, 96, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [57]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
52
38
10
42

#### Create an empty set called `set6`.

In [70]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [71]:
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 43, 44, 45, 46, 48, 49, 50, 52, 53, 54, 56, 57, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 83, 84, 87, 89, 91, 92, 93, 94, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [82]:
if set1 == set6:
    print("Both the set1 and the set6 are equal.")

Both the set1 and the set6 are equal.

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [86]:
z1 = set2.issubset(set1)
print(z1)

z2 = set3.issubset(set1)
print(z2)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [89]:
z3 = set3.union(set4, set5)
print(z3)

z4=set1.union(set2)
print(z4)

if z3==z4:
    print("The aggregated values for z3 and z4 are equal")

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}
The aggregated values for z3 and z4 are equal

#### Using the `pop` method, remove the first element from `set1`.

In [90]:
print (set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 43, 44, 45, 46, 48, 49, 50, 52, 53, 54, 56, 57, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 83, 84, 87, 89, 91, 92, 93, 94, 95, 96, 97, 99}

In [91]:
set1.pop()
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 43, 44, 45, 46, 48, 49, 50, 52, 53, 54, 56, 57, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 83, 84, 87, 89, 91, 92, 93, 94, 95, 96, 97, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [98]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set_to_remove = set(list_to_remove)

set1.difference_update(set_to_remove)

print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 20, 22, 24, 25, 26, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 43, 44, 45, 46, 48, 50, 52, 53, 54, 56, 57, 60, 62, 64, 65, 66, 67, 68, 72, 73, 74, 75, 76, 77, 78, 83, 84, 87, 92, 93, 94, 95, 96, 97}