## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [5]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [16]:
sample_list_1 = range(100)
sample_list_1 = random.sample(sample_list_1, k=80)

print(len(sample_list_1))

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [21]:
set1 = set(sample_list_1)

print(len(sample_list_1))
print("The lenght of set1 is",len(set1))

#Yes, the lenght of the set1 is still 80

80
The lenght of set1 is 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [46]:
sample_list_2 = []
for x in range(100):
    sample_list_2.append(random.randrange(0,100))
    if len(sample_list_2)>= 80:
        break

print(sample_list_2)

[86, 22, 37, 22, 87, 36, 39, 79, 67, 56, 58, 63, 87, 34, 47, 86, 99, 88, 65, 15, 3, 10, 75, 51, 49, 44, 26, 11, 67, 62, 59, 51, 68, 11, 21, 79, 6, 71, 90, 73, 94, 65, 3, 54, 18, 49, 78, 80, 89, 45, 33, 14, 36, 75, 63, 47, 25, 91, 91, 57, 10, 13, 59, 18, 44, 25, 68, 76, 94, 60, 22, 26, 13, 6, 62, 14, 78, 54, 38, 81]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [48]:
set2 = set(sample_list_2)
print(set2)

print(len(set2))
#It is not the same lenght because is a set and it eliminates the duplicate elements. Since the

{3, 6, 10, 11, 13, 14, 15, 18, 21, 22, 25, 26, 33, 34, 36, 37, 38, 39, 44, 45, 47, 49, 51, 54, 56, 57, 58, 59, 60, 62, 63, 65, 67, 68, 71, 73, 75, 76, 78, 79, 80, 81, 86, 87, 88, 89, 90, 91, 94, 99}
50

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [77]:
duplicates = []
set3 = []
for element in set1:
    if element in set2:
        duplicates.append(element)
    else:
        set3.append(element)


set3 = set(set3)
print(set3)
print(len(duplicates))

{1, 4, 5, 8, 9, 12, 16, 17, 19, 20, 24, 31, 35, 40, 41, 42, 43, 46, 48, 50, 52, 53, 55, 61, 66, 69, 70, 72, 77, 82, 83, 84, 85, 92, 93, 97, 98}
43

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [70]:
set4 = []
for value in set2:
    if value in set1:
        duplicates.append(value)
    else:
        set4.append(value)
        
set4= set(set4)
print(set4)

{99, 37, 10, 45, 79, 86, 59}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [73]:
set5 = set(duplicates)
print(set5)

{3, 6, 11, 13, 14, 15, 18, 21, 22, 25, 26, 33, 34, 36, 38, 39, 44, 47, 49, 51, 54, 56, 57, 58, 60, 62, 63, 65, 67, 68, 71, 73, 75, 76, 78, 80, 81, 87, 88, 89, 90, 91, 94}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [76]:
print("This is the lenght of set 1",len(set1))
print("This is the lenght of set 2",len(set2))
print("This is the lenght of set 3",len(set3))
print("This is the lenght of set 4",len(set4))
print("This is the lenght of set 5",len(set5))

#The first lenght is a list of 80 random numbers with no repetition. 
#The second set has 30 numbers less because there are repetitions. 
#The third set says effectively that there around 37 numbers in the set with no repetitions and the set with repetitions, which makes sense.
#The fourth set only has 7 numbers which are the remaining 7 that the first set didn't generate when doing the random selection between 100 numbers. 
#43 Are the number of numbers duplicated. If we sum up 43 + 37 (number of duplicates and number with no repetitions, we get 80 which is the lenght of the dictionary we got in step 2)

This is the lenght of set 1 80
This is the lenght of set 2 50
This is the lenght of set 3 37
This is the lenght of set 4 7
This is the lenght of set 5 43

#### Create an empty set called `set6`.

In [85]:
set6 = set()

#When creating a set that is empty, you can't do it like a list = [] , rather you have to do it like above if not, it is interpreted as a dictionary.

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [87]:
set6.update(set3)
set6.update(set5)

print(set6)

{1, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 31, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 97, 98}

#### Check if `set1` and `set6` are equal.

In [89]:
if set1 == set6:
    print("They are equal")
else:
    print("It's False")

They are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [92]:
set1_contains_set_2 = set2.issubset(set1)
print(set1_contains_set_2)

set1_contains_set_3 = set3.issubset(set3)
print(set1_contains_set_3)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [98]:
union_of_sets = set3.union(set4,set5)
union_of_sets_1 = set1.union(set2)

if union_of_sets == union_of_sets_1:
    print("They are equal")
else:
    print("They are not equal")

They are equal

#### Using the `pop` method, remove the first element from `set1`.

In [100]:
set1.pop()

#The set doesn't have an order, so a random element taken could be the first element.

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [102]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for z in list_to_remove:
    if z in set1:
        set1.discard(z)

print(set1)

{3, 4, 5, 6, 8, 12, 13, 14, 15, 16, 17, 18, 20, 22, 24, 25, 26, 33, 34, 35, 36, 38, 40, 42, 43, 44, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 65, 66, 67, 68, 70, 72, 73, 75, 76, 77, 78, 80, 82, 83, 84, 85, 87, 88, 90, 92, 93, 94, 97, 98}