## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
sample_list_1 = random.sample(range(100),80)

sample_list_1

[87,
 55,
 19,
 51,
 72,
 96,
 15,
 91,
 61,
 7,
 0,
 24,
 44,
 60,
 45,
 14,
 12,
 73,
 84,
 22,
 68,
 47,
 16,
 31,
 88,
 30,
 89,
 42,
 36,
 37,
 97,
 17,
 6,
 13,
 57,
 34,
 43,
 8,
 63,
 65,
 70,
 69,
 90,
 27,
 80,
 83,
 18,
 74,
 41,
 78,
 59,
 2,
 3,
 58,
 25,
 38,
 4,
 53,
 81,
 66,
 33,
 35,
 98,
 76,
 10,
 86,
 21,
 9,
 75,
 40,
 92,
 5,
 20,
 32,
 28,
 77,
 48,
 26,
 29,
 23]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [9]:
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [23]:
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randrange(100))

sample_list_2

[6,
 33,
 29,
 26,
 62,
 7,
 48,
 26,
 35,
 64,
 51,
 28,
 28,
 71,
 14,
 12,
 51,
 5,
 16,
 71,
 74,
 22,
 40,
 35,
 53,
 82,
 71,
 6,
 23,
 4,
 63,
 95,
 4,
 50,
 99,
 48,
 58,
 93,
 34,
 25,
 52,
 36,
 70,
 79,
 26,
 7,
 60,
 49,
 33,
 80,
 56,
 20,
 26,
 42,
 2,
 97,
 22,
 18,
 92,
 60,
 74,
 23,
 77,
 98,
 20,
 47,
 64,
 74,
 90,
 76,
 87,
 83,
 90,
 74,
 37,
 5,
 79,
 72,
 18,
 86]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [25]:
set2 = set(sample_list_2)
len(set2)
# No, it is not the same length

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [29]:
set3 = set1.difference(set2)

37

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [31]:
set4 = set2.difference(set1)

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [35]:
set5 = set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [39]:
print(len(set1)) # 80 unique between 1 and 100
print(len(set2)) # 80 but not unique between 1 and 100, less elements in set2 than in set1
print(len(set3)) # elements only in set1
print(len(set4)) # elements only in set2
print(len(set5)) # elements only in both set1 and set2, elements of set3 and set5 are the elements of set1 (unique)

80
55
37
12
43

#### Create an empty set called `set6`.

In [40]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [43]:
set6.update(set3,set5)

#### Check if `set1` and `set6` are equal.

In [47]:
set1.difference(set6)
# empty set => they are equal

set()

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [50]:
print(set1.issubset(set2)) 
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [54]:
aggreg1 = set3.union(set4, set5)
aggreg2 = set1.union(set2)
print(aggreg1.difference(aggreg2))

set()

#### Using the `pop` method, remove the first element from `set1`.

In [57]:
set1.pop()
print(set1)

{3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 47, 48, 51, 53, 55, 57, 58, 59, 60, 61, 63, 65, 66, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 80, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [73]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(set1)
y = set1.difference(list_to_remove)
print(y)

{3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 47, 48, 51, 53, 55, 57, 58, 59, 60, 61, 63, 65, 66, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 80, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 96, 97, 98}
{3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 47, 48, 53, 55, 57, 58, 60, 63, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 83, 84, 86, 87, 88, 90, 92, 96, 97, 98}