## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [7]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [8]:
# Your code here

sample_list_1=random.sample(range(100), 80)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [35]:

set1=set(sample_list_1)

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [10]:
# Your code here
sample_list_2=[]

for i in range (0,81):
    sample_list_2.append(random.randrange(0, 101))

print(sample_list_2)

[97, 12, 35, 81, 33, 51, 56, 47, 22, 31, 99, 4, 64, 50, 60, 74, 58, 81, 48, 47, 99, 17, 26, 96, 79, 5, 50, 41, 6, 23, 13, 97, 82, 81, 30, 37, 65, 0, 21, 95, 97, 23, 11, 77, 58, 51, 45, 69, 41, 97, 28, 87, 63, 50, 19, 68, 5, 31, 57, 77, 42, 87, 46, 52, 54, 35, 50, 79, 14, 88, 49, 91, 71, 18, 23, 93, 86, 85, 87, 0, 17]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [11]:
# Your code here

set2=set(sample_list_2 )
print(len(set2))

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [ ]:
# Your code here

In [12]:
set3 = set1-set2
print(set3)

{1, 3, 7, 8, 9, 15, 16, 20, 25, 32, 34, 36, 38, 43, 44, 53, 55, 59, 61, 62, 66, 67, 70, 73, 75, 76, 80, 83, 84, 89, 92, 94, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [13]:
# Your code here
set4 = set2-set1
print(set4)

{64, 33, 97, 37, 45, 14, 79, 19, 28, 93}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [14]:
# Your code here
set5=set1.intersection(set2)
print(set5)

{0, 4, 5, 6, 11, 12, 13, 17, 18, 21, 22, 23, 26, 30, 31, 35, 41, 42, 46, 47, 48, 49, 50, 51, 52, 54, 56, 57, 58, 60, 63, 65, 68, 69, 71, 74, 77, 81, 82, 85, 86, 87, 88, 91, 95, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [15]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
57
33
10
47

#### Create an empty set called `set6`.

In [16]:
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [37]:
set6.update(set3, set5)
print(len(set6))

80

#### Check if `set1` and `set6` are equal.

In [22]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [27]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [31]:
set3.union(set4, set5)==set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [36]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [45]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove=set(list_to_remove)
remaining_set=set1-set_to_remove
print(remaining_set)

{3, 4, 5, 6, 7, 8, 12, 13, 15, 16, 17, 18, 20, 22, 23, 25, 26, 30, 32, 34, 35, 36, 38, 42, 43, 44, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 65, 66, 67, 68, 70, 73, 74, 75, 76, 77, 80, 82, 83, 84, 85, 86, 87, 88, 92, 94, 95, 96, 98}