## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1= random.sample(range(100),k=80)
print(sample_list_1)

[86, 24, 19, 79, 98, 83, 2, 25, 11, 76, 99, 46, 37, 36, 59, 66, 94, 49, 16, 88, 39, 20, 18, 65, 14, 15, 63, 90, 50, 17, 21, 4, 78, 52, 47, 1, 93, 81, 87, 31, 8, 56, 27, 41, 28, 38, 91, 6, 64, 7, 48, 33, 82, 51, 12, 43, 85, 29, 84, 34, 58, 57, 26, 95, 53, 22, 44, 61, 73, 77, 30, 69, 0, 55, 10, 92, 40, 3, 62, 89]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1= set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [4]:
sample_list_2=[]
count=0

while count < 80:
    count+=1
    sample_list_2.append(random.randrange(100))

print(sample_list_2)
print(len(sample_list_2))

[82, 39, 91, 76, 38, 13, 80, 42, 99, 63, 3, 48, 5, 73, 6, 0, 27, 2, 44, 20, 85, 85, 2, 26, 16, 11, 32, 50, 69, 49, 63, 77, 56, 89, 65, 71, 0, 91, 29, 79, 37, 47, 90, 62, 28, 18, 26, 61, 34, 51, 53, 91, 9, 46, 97, 47, 71, 80, 41, 28, 49, 34, 62, 61, 93, 33, 46, 94, 75, 98, 48, 35, 14, 32, 30, 95, 52, 55, 96, 68]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2= set(sample_list_2)
len(set2)

# Length is not longer 80 but 56

62

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3=set1-set2
print(set3)
set3=set1.difference(set2)
print(set3)

{1, 4, 7, 8, 10, 12, 15, 17, 19, 21, 22, 24, 25, 31, 36, 40, 43, 57, 58, 59, 64, 66, 78, 81, 83, 84, 86, 87, 88, 92}
{1, 4, 7, 8, 10, 12, 15, 17, 19, 21, 22, 24, 25, 31, 36, 40, 43, 57, 58, 59, 64, 66, 78, 81, 83, 84, 86, 87, 88, 92}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4=set2.difference(set1)
print(set4)

{32, 96, 97, 35, 68, 5, 71, 9, 42, 75, 13, 80}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5=set()
for i in set1:
    if i in set2:
        set5.add(i)
        
print(set5)
print(len(set5))

{0, 2, 3, 6, 11, 14, 16, 18, 20, 26, 27, 28, 29, 30, 33, 34, 37, 38, 39, 41, 44, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 61, 62, 63, 65, 69, 73, 76, 77, 79, 82, 85, 89, 90, 91, 93, 94, 95, 98, 99}
50

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [9]:
# print(len(set1))
# print(len(set2))
# print(len(set3))
# print(len(set4))
# print(len(set5))

print(len(set1))
# unique + duplicates
print(len(set3)+len(set5))

print(len(set2))
print(len(set4)+len(set5))

80
80
62
62

#### Create an empty set called `set6`.

In [10]:
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3,set5)

#### Check if `set1` and `set6` are equal.

In [12]:
print(set1)
print(set6)

{0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 69, 73, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99}
{0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 69, 73, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99}

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [13]:
set2.issubset(set1)
print(set1.issubset(set2))

set3.issubset(set1)

False

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
set7= set3.union(set4,set5)
print(set7)
print(len(set7))
set7=set7.union(set1,set2)
print(set7)
print(len(set7))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 71, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
92
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 71, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
92

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
print(set1)
set1.pop()
print(set1)

{0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 69, 73, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99}
{1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 69, 73, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [22]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

n=set(list_to_remove)
set1=set1.difference(n)

print(set1)

{2, 3, 4, 6, 7, 8, 10, 12, 14, 15, 16, 17, 18, 20, 22, 24, 25, 26, 27, 28, 30, 33, 34, 36, 37, 38, 40, 43, 44, 46, 47, 48, 50, 52, 53, 55, 56, 57, 58, 62, 63, 64, 65, 66, 73, 76, 77, 78, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 98}