## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(100),(80))

print(sample_list_1)


len(sample_list_1)

[9, 80, 12, 33, 31, 97, 20, 41, 1, 64, 44, 10, 46, 60, 24, 71, 68, 4, 73, 83, 21, 11, 37, 35, 49, 25, 16, 28, 96, 79, 61, 6, 76, 56, 5, 30, 14, 51, 8, 17, 58, 0, 3, 82, 36, 26, 77, 74, 19, 75, 90, 52, 72, 18, 86, 81, 95, 40, 87, 84, 92, 13, 7, 89, 50, 53, 99, 42, 94, 38, 39, 47, 57, 63, 69, 54, 43, 66, 70, 62]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1=set(sample_list_1)
print(set1)

len(set1)

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 24, 25, 26, 28, 30, 31, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 49, 50, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 86, 87, 89, 90, 92, 94, 95, 96, 97, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [4]:
# Your code here

sample_list_2= []

for i in range(80):
    i = random.randrange(101)
    sample_list_2.append(i)

print(sample_list_2)

len(sample_list_2)

[78, 19, 21, 17, 16, 31, 71, 87, 45, 24, 1, 65, 39, 50, 58, 5, 45, 62, 58, 51, 51, 82, 43, 4, 85, 72, 77, 26, 22, 98, 61, 29, 7, 21, 1, 3, 58, 35, 75, 88, 25, 58, 85, 36, 36, 35, 44, 23, 13, 97, 65, 57, 13, 73, 3, 98, 12, 24, 72, 15, 46, 50, 43, 67, 76, 47, 60, 6, 12, 68, 37, 89, 51, 84, 6, 22, 58, 98, 45, 41]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2=set(sample_list_2)

print(set2)

{1, 3, 4, 5, 6, 7, 12, 13, 15, 16, 17, 19, 21, 22, 23, 24, 25, 26, 29, 31, 35, 36, 37, 39, 41, 43, 44, 45, 46, 47, 50, 51, 57, 58, 60, 61, 62, 65, 67, 68, 71, 72, 73, 75, 76, 77, 78, 82, 84, 85, 87, 88, 89, 97, 98}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3 = set1-set2

print(set3)

{0, 8, 9, 10, 11, 14, 18, 20, 28, 30, 33, 38, 40, 42, 49, 52, 53, 54, 56, 63, 64, 66, 69, 70, 74, 79, 80, 81, 83, 86, 90, 92, 94, 95, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2-set1
print(set4)

{65, 98, 67, 45, 78, 15, 85, 22, 23, 88, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1 & set2
print(set5)

{1, 3, 4, 5, 6, 7, 12, 13, 16, 17, 19, 21, 24, 25, 26, 31, 35, 36, 37, 39, 41, 43, 44, 46, 47, 50, 51, 57, 58, 60, 61, 62, 68, 71, 72, 73, 75, 76, 77, 82, 84, 87, 89, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [9]:
# Your code here
len(set1)

80

In [10]:
len(set2)

55

In [11]:
len(set3)

36

In [12]:
len(set4)

11

In [13]:
len(set5)

44

#### Create an empty set called `set6`.

In [14]:
# Your code here
set6=[]

set6=set(set6)

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [15]:
print(set3)
print(set5)

set6.update(set3,set5)
print(set6)

{0, 8, 9, 10, 11, 14, 18, 20, 28, 30, 33, 38, 40, 42, 49, 52, 53, 54, 56, 63, 64, 66, 69, 70, 74, 79, 80, 81, 83, 86, 90, 92, 94, 95, 96, 99}
{1, 3, 4, 5, 6, 7, 12, 13, 16, 17, 19, 21, 24, 25, 26, 31, 35, 36, 37, 39, 41, 43, 44, 46, 47, 50, 51, 57, 58, 60, 61, 62, 68, 71, 72, 73, 75, 76, 77, 82, 84, 87, 89, 97}
{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 24, 25, 26, 28, 30, 31, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 49, 50, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 86, 87, 89, 90, 92, 94, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [16]:
# Your code here
if set1 == set6: 
    print ("True") 
else : 
    print ("False")

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [17]:
# Your code here
print(set1.issubset(set2))

False

In [18]:
print(set1.issubset(set3))

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [19]:
# Your code here
set_list1 = set3.union(set4,set5)
print(set_list1)
set_list2 = set1.union(set2)
print(set_list2)

if set_list1 == set_list2: 
    print ("True") 
else : 
    print ("False")

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 94, 95, 96, 97, 98, 99}
{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 94, 95, 96, 97, 98, 99}
True

#### Using the `pop` method, remove the first element from `set1`.

In [20]:
# Your code here

set1.pop()

print(set1)

{1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 24, 25, 26, 28, 30, 31, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 49, 50, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 86, 87, 89, 90, 92, 94, 95, 96, 97, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [26]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

#new_list=[i for i in set1 if i not in list_to_remove]

new_list=set1.copy()

for i in set1:
    if i in list_to_remove:
        new_list.remove(i)
    

print(new_list)

{5, 6, 7, 8, 10, 12, 13, 14, 16, 17, 18, 20, 24, 25, 26, 28, 30, 33, 35, 36, 37, 38, 40, 42, 43, 44, 46, 47, 50, 52, 53, 54, 56, 57, 58, 60, 62, 63, 64, 66, 68, 70, 72, 73, 74, 75, 76, 77, 80, 82, 83, 84, 86, 87, 90, 92, 94, 95, 96, 97}