## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = []
random_number = 0

sample_list_1 = random.sample(range(101), 80)
            
print(sample_list_1)

[34, 15, 16, 58, 40, 61, 41, 47, 9, 65, 0, 54, 100, 37, 88, 31, 78, 81, 45, 3, 85, 57, 38, 60, 94, 21, 2, 89, 98, 72, 10, 63, 13, 18, 77, 93, 17, 76, 30, 80, 4, 24, 28, 97, 53, 92, 62, 22, 36, 74, 7, 32, 11, 90, 14, 6, 23, 70, 64, 51, 82, 8, 33, 56, 86, 84, 44, 50, 25, 96, 55, 52, 19, 95, 12, 42, 69, 29, 75, 26]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [4]:
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randrange(0,101))

print(len(sample_list_2))

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)

print(len(set2))

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3_list = []

for element in set1:
    if element not in set2:
        set3_list.append(element)

set3 = set(set3_list)
print(set3)

{7, 9, 10, 11, 14, 16, 23, 25, 28, 30, 31, 40, 41, 42, 50, 51, 53, 54, 55, 56, 62, 63, 64, 65, 69, 70, 75, 76, 78, 81, 84, 85, 86, 89, 90, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4_list = []

for element in set2:
    if element not in set1:
        set4_list.append(element)

set4 = set(set4_list)
print(set4)

{1, 66, 67, 99, 39, 91, 43, 49, 83, 20, 87, 59}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5_list = []

for element in set1:
    if element in set2:
        set5_list.append(element)

set5 = set(set5_list)
print(set5)

{0, 2, 3, 4, 6, 8, 12, 13, 15, 17, 18, 19, 21, 22, 24, 26, 29, 32, 33, 34, 36, 37, 38, 44, 45, 47, 52, 57, 58, 60, 61, 72, 74, 77, 80, 82, 88, 92, 93, 94, 95, 97, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [10]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

# set2 has fewer unique values, that is why the set4 length is much smaller

80
55
37
12
43

#### Create an empty set called `set6`.

In [21]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [22]:
set6.update(set3,set5)
print(set6)

{0, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 40, 41, 42, 44, 45, 47, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 100}

#### Check if `set1` and `set6` are equal.

In [24]:
if len(set1.difference(set6)) == 0:
    print("set1 and set6 are equal")

set1 and set6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [26]:
if set2.issubset(set1):
    print("Set2 is a subset of set1")
else:
    print("Set2 is not a subset of set1")

if set3.issubset(set1):
    print("Set3 is a subset of set1")
else:
    print("Set3 is not a subset of set1")

Set2 is not a subset of set1
Set3 is a subset of set1

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [31]:
set3_4_5 = set3.union(set4, set5)
set_1_2 = set1.union(set2)

if len(set3_4_5.difference(set_1_2)) == 0:
    print("There are no differences")
else:
    print("Yes they are different")

There are no differences

#### Using the `pop` method, remove the first element from `set1`.

In [34]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [37]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1_list = list(set1)
for element in list_to_remove:
    if element in set1:
        set1.discard(element)

print(set1)

{2, 3, 4, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 22, 23, 24, 25, 26, 28, 30, 32, 33, 34, 36, 37, 38, 40, 42, 44, 45, 47, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 70, 72, 74, 75, 76, 77, 78, 80, 82, 84, 85, 86, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}