## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(101),80)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))
print(set1)

80
{0, 2, 6, 10, 11, 12, 13, 15, 16, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 52, 53, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [4]:
# Your code here
sample_list_2 = []
for number in range(80):
    sample_list_2.append(random.randrange(0,100))
print(sample_list_2)

[43, 85, 60, 70, 69, 50, 67, 60, 9, 7, 16, 77, 1, 78, 52, 59, 99, 84, 71, 15, 57, 40, 3, 63, 19, 85, 19, 90, 95, 77, 77, 49, 61, 71, 71, 99, 39, 63, 15, 57, 41, 84, 15, 35, 16, 95, 17, 59, 34, 87, 35, 44, 44, 94, 22, 34, 95, 4, 95, 92, 76, 51, 36, 40, 10, 81, 10, 87, 65, 7, 34, 9, 57, 77, 93, 75, 54, 2, 94, 55]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
# No, because sets eliminate duplicates

50

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1 - set2
print(set3)

{0, 6, 11, 12, 13, 20, 21, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 38, 42, 45, 46, 47, 48, 53, 56, 58, 62, 64, 66, 72, 73, 74, 79, 80, 82, 83, 86, 88, 89, 91, 96, 97, 98, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2 - set1
print(set4)

{1, 3, 4, 35, 36, 7, 39, 9, 17, 49, 50, 51, 54, 61}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{2, 10, 15, 16, 19, 22, 34, 40, 41, 43, 44, 52, 55, 57, 59, 60, 63, 65, 67, 69, 70, 71, 75, 76, 77, 78, 81, 84, 85, 87, 90, 92, 93, 94, 95, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [9]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

# We observe that len(set5) + len(set3) = len(set1)

80
50
44
14
36

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 2, 6, 10, 11, 12, 13, 15, 16, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 52, 53, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
if set1 == set6:
    print("They are equal")
else:
    print("They are not equal")

They are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [13]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
set345 = set()
set345.union(set3,set4,set5)
set345.union(set1,set2)

if set345.union(set3,set4,set5) == set345.union(set1,set2):
    print("The aggregated values are equal")
else:
    print("The aggregated values are not equal")

The aggregated values are equal

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
print(set1.pop())
print(set1)

0
{2, 6, 10, 11, 12, 13, 15, 16, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 52, 53, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1.difference_update(list_to_remove)