## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1 = random.sample(range(101), 80)
print(sample_list_1)

[14, 85, 4, 87, 82, 13, 40, 67, 47, 39, 62, 50, 44, 54, 41, 86, 38, 42, 100, 73, 78, 19, 66, 8, 72, 57, 91, 63, 24, 68, 51, 15, 7, 94, 35, 99, 30, 88, 2, 74, 11, 98, 76, 9, 55, 92, 21, 53, 27, 10, 59, 61, 65, 23, 70, 29, 64, 37, 77, 43, 80, 58, 52, 22, 3, 1, 12, 69, 33, 93, 49, 31, 90, 97, 18, 48, 60, 89, 25, 95]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
set_sample_list_1 = set(sample_list_1)
print(len(set_sample_list_1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [6]:
# Your code here

sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randrange(1,100))
print(sample_list_2)

[74, 72, 49, 93, 2, 97, 30, 5, 49, 8, 12, 90, 54, 59, 12, 28, 73, 34, 30, 24, 41, 95, 43, 69, 1, 17, 42, 29, 56, 43, 23, 76, 20, 44, 37, 10, 1, 17, 15, 21, 9, 5, 74, 71, 14, 12, 82, 19, 45, 80, 33, 98, 43, 39, 63, 99, 19, 66, 19, 13, 77, 75, 31, 42, 4, 58, 25, 11, 68, 31, 89, 31, 79, 60, 27, 32, 65, 40, 80, 31]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [42]:
# Your code here
set_sample_list_2 = set(sample_list_2)
print(len(set_sample_list_2))

63

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [9]:
# Your code here
set3 = []

for i in set_sample_list_1:
    if i not in set_sample_list_2:
        set3.append(i)
print(set3)

[3, 7, 18, 22, 35, 38, 47, 48, 50, 51, 52, 53, 55, 57, 61, 62, 64, 67, 70, 78, 85, 86, 87, 88, 91, 92, 94, 100]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [10]:
# Your code here
set4 = []

for i in set_sample_list_2:
    if i not in set_sample_list_1:
        set4.append(i)
print(set4)

[5, 17, 20, 28, 32, 34, 45, 56, 71, 75, 79]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [11]:
# Your code here
set5 = []

for i in set_sample_list_2:
    if i in set_sample_list_1:
        set5.append(i)
print(set5)

[1, 2, 4, 8, 9, 10, 11, 12, 13, 14, 15, 19, 21, 23, 24, 25, 27, 29, 30, 31, 33, 37, 39, 40, 41, 42, 43, 44, 49, 54, 58, 59, 60, 63, 65, 66, 68, 69, 72, 73, 74, 76, 77, 80, 82, 89, 90, 93, 95, 97, 98, 99]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [ ]:
# Your code here
set 1 > set 2

#### Create an empty set called `set6`.

In [21]:
# Your code here
set6 = set()
type(set6)

set

In [22]:
print(set3)
print(set5)
print(set6)

{1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 19, 21, 22, 23, 24, 25, 27, 29, 30, 31, 33, 35, 37, 38, 39, 40, 41, 42, 43, 44, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 76, 77, 78, 80, 82, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99, 100}
{1, 2, 4, 8, 9, 10, 11, 12, 13, 14, 15, 19, 21, 23, 24, 25, 27, 29, 30, 31, 33, 37, 39, 40, 41, 42, 43, 44, 49, 54, 58, 59, 60, 63, 65, 66, 68, 69, 72, 73, 74, 76, 77, 80, 82, 89, 90, 93, 95, 97, 98, 99}
set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [40]:
# Your code here
set3 = set(set3)
set5 = set(set5)
set6.update(set5)
set6.update(set3)
print(set6)

AttributeError: 'NoneType' object has no attribute 'update'

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [45]:
# Your code here
set_sample_list_2.issubset(set_sample_list_1)

True

In [47]:
set3.issubset(set_sample_list_1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [49]:
# Your code here
set7 = (set3.union(set4)).union(set5)
set7

{1,
 2,
 3,
 4,
 5,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 82,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 98,
 99,
 100}

In [52]:
set1 = set_sample_list_1.union(set_sample_list_2)
set1
type(set1)

set

#### Using the `pop` method, remove the first element from `set1`.

In [53]:
# Your code here
x = set1.pop()

print(x)
print(set1)

1
{2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [56]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{2, 3, 4, 5, 7, 8, 10, 12, 13, 14, 15, 17, 18, 20, 22, 23, 24, 25, 27, 28, 30, 32, 33, 34, 35, 37, 38, 40, 42, 43, 44, 45, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 85, 86, 87, 88, 90, 92, 93, 94, 95, 97, 98, 100}