## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(100), 80)
print(sample_list_1)

[6, 5, 52, 61, 82, 11, 58, 96, 28, 20, 68, 98, 87, 38, 24, 37, 72, 57, 36, 94, 16, 47, 44, 76, 1, 45, 39, 21, 75, 79, 84, 62, 90, 85, 30, 80, 3, 2, 18, 22, 83, 10, 4, 14, 26, 43, 34, 49, 81, 0, 67, 12, 97, 99, 59, 63, 23, 70, 29, 7, 53, 78, 32, 33, 41, 51, 40, 9, 66, 92, 54, 71, 56, 73, 55, 88, 89, 93, 95, 27]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here

set1 = set(sample_list_1)

print("-----------")

print(len(set1))

if len(set1) == 80:
    print("True. Its length is still 80")

-----------
80
True. Its length is still 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [4]:
# Your code here

sample_list_2 = []
for i in range(80):
    z = random.randrange(0,100)
    sample_list_2.append(z)
print(sample_list_2)

print("-----------")
print(len(sample_list_2))

[88, 87, 86, 90, 58, 69, 65, 68, 41, 57, 48, 87, 7, 18, 60, 21, 9, 85, 80, 88, 15, 18, 84, 48, 39, 61, 25, 43, 30, 88, 68, 51, 79, 36, 11, 16, 24, 62, 47, 30, 56, 49, 69, 37, 99, 72, 50, 97, 3, 97, 99, 18, 88, 90, 11, 67, 67, 67, 79, 90, 37, 81, 35, 44, 56, 58, 49, 73, 63, 65, 11, 89, 30, 39, 87, 9, 10, 14, 80, 64]
-----------
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 = set(sample_list_2)
print(set2)

print("------------")

print(len(set2))

if len(set2) == 80:
    print("True. Its length is still 80")
else:
    print("Negative. Now, its length is: ", len(set2))

{3, 7, 9, 10, 11, 14, 15, 16, 18, 21, 24, 25, 30, 35, 36, 37, 39, 41, 43, 44, 47, 48, 49, 50, 51, 56, 57, 58, 60, 61, 62, 63, 64, 65, 67, 68, 69, 72, 73, 79, 80, 81, 84, 85, 86, 87, 88, 89, 90, 97, 99}
------------
51
Negative. Now, its length is:  51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3 = set1 - set2
print(set3)

{0, 1, 2, 4, 5, 6, 12, 20, 22, 23, 26, 27, 28, 29, 32, 33, 34, 38, 40, 45, 52, 53, 54, 55, 59, 66, 70, 71, 75, 76, 78, 82, 83, 92, 93, 94, 95, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here

set4 = set2 - set1
print(set4)

{64, 65, 35, 69, 15, 48, 50, 86, 25, 60}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here

set5 = set1.intersection(set2)

print('set5 =', set1.intersection(set2))

set5 = {3, 7, 9, 10, 11, 14, 16, 18, 21, 24, 30, 36, 37, 39, 41, 43, 44, 47, 49, 51, 56, 57, 58, 61, 62, 63, 67, 68, 72, 73, 79, 80, 81, 84, 85, 87, 88, 89, 90, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [9]:
# Your code here

print(len(set1), " because the values are unique numbers")
print(len(set2), " because they were not all unique numbers, then some were repeated")
print(len(set3), " because was set1 - set2 to get only the ones in set1")
print(len(set4), " because was set2 - set1 to get only the ones in set2")
print(len(set5), " because it's the intersection between set1 and set2")

80  because the values are unique numbers
51  because they were not all unique numbers, then some were repeated
39  because was set1 - set2 to get only the ones in set1
10  because was set2 - set1 to get only the ones in set2
41  because it's the intersection between set1 and set2

#### Create an empty set called `set6`.

In [10]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here

set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 16, 18, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 45, 47, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 66, 67, 68, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here

if set1 == set6:
    print("True, they are equal")
else:
    print("Negative, they are not equal")

True, they are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [13]:
# Your code here

z = set2.issubset(set1)
print(z)

y = set3.issubset(set1)
print(y)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here

set7 = set3.union(set4,set5)

set8 = set1.union(set2)

print(set7)
print(set8)

set7 == set8

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
set1.pop()
print(set1)

{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 16, 18, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 32, 33, 34, 36, 37, 38, 39, 40, 41, 43, 44, 45, 47, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 66, 67, 68, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1.difference_update(list_to_remove)
print(set1)

{2, 3, 4, 5, 6, 7, 10, 12, 14, 16, 18, 20, 22, 23, 24, 26, 27, 28, 30, 32, 33, 34, 36, 37, 38, 40, 43, 44, 45, 47, 52, 53, 54, 55, 56, 57, 58, 62, 63, 66, 67, 68, 70, 72, 73, 75, 76, 78, 80, 82, 83, 84, 85, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}