## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1=random.sample((range(101)),80)
print(sample_list_1)

[75, 65, 46, 34, 54, 51, 80, 22, 31, 36, 39, 81, 94, 97, 59, 16, 53, 64, 47, 77, 62, 23, 14, 98, 87, 32, 48, 71, 88, 1, 56, 67, 72, 2, 93, 74, 95, 15, 8, 9, 90, 78, 0, 21, 58, 100, 20, 61, 28, 84, 85, 17, 37, 96, 18, 60, 19, 11, 57, 73, 42, 41, 29, 26, 66, 27, 13, 38, 82, 35, 7, 69, 45, 40, 99, 10, 25, 76, 91, 44]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1=set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [4]:
sample_list_2=[]

while len(sample_list_2)<80:
    sample_list_2.append(random.randrange(101))

print(sample_list_2)
len(sample_list_2)

[26, 71, 22, 4, 18, 34, 39, 65, 39, 7, 21, 5, 79, 13, 24, 36, 19, 40, 96, 20, 47, 63, 83, 75, 83, 34, 93, 25, 94, 22, 81, 25, 40, 68, 20, 0, 91, 5, 41, 84, 36, 27, 86, 53, 2, 90, 100, 50, 75, 5, 37, 77, 46, 66, 71, 24, 98, 64, 1, 48, 51, 17, 53, 70, 50, 21, 34, 12, 6, 0, 75, 83, 37, 39, 67, 97, 3, 47, 93, 49]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2=set(sample_list_2)
len(set2)

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3=set1.difference(set2)
print(set3)
len(set3)

{8, 9, 10, 11, 14, 15, 16, 23, 28, 29, 31, 32, 35, 38, 42, 44, 45, 54, 56, 57, 58, 59, 60, 61, 62, 69, 72, 73, 74, 76, 78, 80, 82, 85, 87, 88, 95, 99}

38

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4=set2.difference(set1)
print(set4)
len(set3)

{3, 4, 5, 6, 68, 70, 12, 79, 49, 50, 83, 86, 24, 63}

38

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5=set1.intersection(set2)
print(set5)
len(set5)

{0, 1, 2, 7, 13, 17, 18, 19, 20, 21, 22, 25, 26, 27, 34, 36, 37, 39, 40, 41, 46, 47, 48, 51, 53, 64, 65, 66, 67, 71, 75, 77, 81, 84, 90, 91, 93, 94, 96, 97, 98, 100}

42

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [9]:
#SET1: elements in set1
#SET2: elements in set2
#SET3: elements present in set1 but not in set2
#SET4: elements present in set2 but not in set1
#SET5: elements shared between set1 and set2

print("The length of set 1 is", len(set1))
print("The length of set 2 is", len(set2))
print("The length of set 3 is", len(set3))
print("The length of set 4 is", len(set4))
print("The length of set 5 is", len(set5))

print(len(set5)==len(set2)-len(set4))
print(len(set5)==len(set1)-len(set3))

The length of set 1 is 80
The length of set 2 is 56
The length of set 3 is 38
The length of set 4 is 14
The length of set 5 is 42
True
True

#### Create an empty set called `set6`.

In [10]:
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 51, 53, 54, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 69, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 87, 88, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [13]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
print(set3.union(set4, set5))
print(set1.union(set2))
set3.union(set4,set5)==set1.union(set2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [23]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{2, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 22, 23, 25, 26, 27, 28, 32, 34, 35, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 53, 54, 56, 57, 58, 60, 62, 64, 65, 66, 67, 72, 73, 74, 75, 76, 77, 78, 80, 82, 84, 85, 87, 88, 90, 93, 94, 95, 96, 97, 98, 100}