## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [14]:
import random

sample_list_1 = random.sample(range(100),80)

print(sample_list_1)

[90, 77, 67, 76, 34, 0, 21, 60, 31, 10, 40, 87, 59, 92, 79, 39, 53, 71, 15, 65, 51, 63, 42, 49, 26, 5, 6, 80, 13, 75, 54, 46, 33, 17, 27, 35, 83, 88, 19, 32, 58, 82, 70, 73, 57, 69, 91, 11, 62, 55, 9, 16, 74, 85, 81, 68, 1, 72, 18, 78, 4, 3, 61, 38, 97, 12, 14, 66, 45, 50, 24, 52, 7, 47, 84, 41, 20, 22, 37, 99]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [15]:
set1 = set(sample_list_1)
print(set1)
print(len(set1))
# Your code here

{0, 1, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 90, 91, 92, 97, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [8]:
import random
sample_list_2 = []

for i in range(80):
    a = random.randrange(1,80)
    sample_list_2.append(a)

print(sample_list_2)

[20, 50, 30, 33, 20, 39, 26, 18, 57, 66, 36, 35, 12, 24, 4, 30, 54, 46, 4, 61, 18, 32, 1, 2, 24, 30, 71, 32, 52, 36, 65, 30, 46, 43, 44, 33, 8, 45, 62, 70, 76, 68, 50, 40, 41, 72, 46, 26, 58, 28, 68, 30, 50, 39, 78, 13, 18, 16, 9, 78, 16, 59, 39, 40, 29, 18, 34, 17, 54, 62, 10, 8, 65, 2, 22, 13, 79, 37, 37, 67]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [10]:
set2 = set(sample_list_2)
print(set2)
print(len(set2))

{1, 2, 4, 8, 9, 10, 12, 13, 16, 17, 18, 20, 22, 24, 26, 28, 29, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 43, 44, 45, 46, 50, 52, 54, 57, 58, 59, 61, 62, 65, 66, 67, 68, 70, 71, 72, 76, 78, 79}
49

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [25]:
set3 = set1 - set2
print(set3)

set()

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [27]:
set4 = set2 - set1
print(set4)

{2, 36, 8, 43, 44, 28, 29, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [29]:
x = set1
y = set2

set5 = x.intersection(y)

print(set5)

{1, 4, 9, 10, 12, 13, 16, 17, 18, 20, 22, 24, 26, 32, 33, 34, 35, 37, 39, 40, 41, 45, 46, 50, 52, 54, 57, 58, 59, 61, 62, 65, 66, 67, 68, 70, 71, 72, 76, 78, 79}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [ ]:
len(set1) len(set2) len(set3) len(set4) len(set5)

#### Create an empty set called `set6`.

In [34]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [35]:
set6.update(set3)
set6.update(set5)
print(set6)

{1, 4, 9, 10, 12, 13, 16, 17, 18, 20, 22, 24, 26, 32, 33, 34, 35, 37, 39, 40, 41, 45, 46, 50, 52, 54, 57, 58, 59, 61, 62, 65, 66, 67, 68, 70, 71, 72, 76, 78, 79}

#### Check if `set1` and `set6` are equal.

In [36]:
if set1 == set6:
    print("Yes")
else:
    print("No")

Yes

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [39]:
check1_in2 = set1.issubset(set2)
check2_in1 = set2.issubset(set1)
print(check1_in2)
print(check2_in1)

True
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

#### Using the `pop` method, remove the first element from `set1`.

In [40]:
set1.pop()
print(set1)

{4, 9, 10, 12, 13, 16, 17, 18, 20, 22, 24, 26, 32, 33, 34, 35, 37, 39, 40, 41, 45, 46, 50, 52, 54, 57, 58, 59, 61, 62, 65, 66, 67, 68, 70, 71, 72, 76, 78, 79}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [44]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
duplicates = []
for i in set1:
    for j in list_to_remove:
        if i == j:
           duplicates.append(j)
print(duplicates)

for x in duplicates:
    set1.remove(x)
    
print(set1)

[9, 39, 41, 59, 61, 71, 79]
{4, 10, 12, 13, 16, 17, 18, 20, 22, 24, 26, 32, 33, 34, 35, 37, 40, 45, 46, 50, 52, 54, 57, 58, 62, 65, 66, 67, 68, 70, 72, 76, 78}