## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [155]:
import random


#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [156]:
sample_list_1 = random.sample(range(100),80)

print(sample_list_1)
print(len(sample_list_1))

[19, 12, 58, 15, 29, 98, 55, 32, 57, 14, 53, 96, 20, 16, 56, 31, 40, 0, 73, 66, 28, 84, 60, 27, 6, 61, 70, 9, 74, 52, 39, 22, 42, 46, 87, 24, 81, 17, 11, 69, 49, 54, 34, 43, 92, 4, 38, 41, 45, 23, 10, 59, 95, 90, 67, 72, 8, 99, 75, 80, 47, 97, 37, 3, 7, 94, 79, 30, 25, 89, 86, 65, 88, 1, 71, 21, 48, 50, 33, 44]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [157]:

for numbers in sample_list_1:
    set1 = set(sample_list_1)

print(set1)
print(len(set1))

{0, 1, 3, 4, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 79, 80, 81, 84, 86, 87, 88, 89, 90, 92, 94, 95, 96, 97, 98, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [158]:
sample_list_2 = []

for number in range(80):
    sample_list_2.append(random.randrange(0, 100))

print(sample_list_2)

print(len(sample_list_2))

[51, 91, 60, 69, 83, 38, 18, 50, 39, 44, 16, 38, 33, 37, 33, 45, 32, 70, 22, 26, 65, 35, 11, 60, 58, 66, 28, 48, 92, 44, 54, 76, 38, 62, 39, 0, 41, 29, 19, 70, 16, 2, 97, 64, 62, 70, 55, 79, 67, 6, 35, 9, 7, 65, 40, 32, 62, 44, 47, 66, 75, 45, 74, 57, 5, 31, 15, 83, 26, 37, 54, 96, 99, 58, 53, 87, 34, 42, 96, 9]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [159]:
set2 = set(sample_list_2)

print(len(set2))

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [165]:
set3 = []

for i in set1:
    if i not in set2:
        set3.append(i)
        
print(set3)

[1, 3, 4, 8, 10, 12, 14, 17, 20, 21, 23, 24, 25, 27, 30, 43, 46, 49, 52, 56, 59, 61, 71, 72, 73, 80, 81, 84, 86, 88, 89, 90, 94, 95, 98]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [167]:
set4 = []

for i in set2:
    if i not in set1:
        set4.append(i)
        
print(set4)

[2, 5, 18, 26, 35, 51, 62, 64, 76, 83, 91]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [169]:
set5 = []

for i in set1:
    if i in set2:
        set5.append(i)

print(set5)

[0, 6, 7, 9, 11, 15, 16, 19, 22, 28, 29, 31, 32, 33, 34, 37, 38, 39, 40, 41, 42, 44, 45, 47, 48, 50, 53, 54, 55, 57, 58, 60, 65, 66, 67, 69, 70, 74, 75, 79, 87, 92, 96, 97, 99]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [170]:
print(len(set4))

setlenght = set2 - set1

print(len(setlenght))

11
11

#### Create an empty set called `set6`.

In [171]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [172]:
set6.update(set3, set5)
print(set6)

{0, 1, 3, 4, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 79, 80, 81, 84, 86, 87, 88, 89, 90, 92, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [173]:
they_are_equal = 0

for i in set1:
    if i in set6:
        they_are_equal = True
    else: they_are_equal = False

print(they_are_equal)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [176]:
set2.issubset(set1)

set(set3).issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [183]:
agg345 = set(set3).union(set(set4), set(set5))

print(agg345)

agg12 = set1.union(set2)

print(agg)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 79, 80, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 79, 80, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [187]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [189]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [192]:
for number in list_to_remove:
    if number in set1:
        set1.remove(number)
        
print(set1)

{3, 4, 6, 7, 8, 10, 12, 14, 15, 16, 17, 20, 22, 23, 24, 25, 27, 28, 30, 32, 33, 34, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 65, 66, 67, 70, 72, 73, 74, 75, 80, 84, 86, 87, 88, 90, 92, 94, 95, 96, 97, 98}