## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
sample_list_1 = (random.sample(range(1, 100), 80))

print(sample_list_1)

[19, 31, 48, 89, 79, 63, 87, 17, 40, 23, 3, 74, 97, 62, 42, 24, 25, 99, 1, 80, 64, 65, 57, 95, 35, 30, 78, 29, 60, 93, 49, 83, 44, 13, 88, 53, 37, 47, 7, 73, 70, 90, 81, 56, 32, 5, 50, 26, 82, 14, 41, 39, 91, 18, 8, 4, 68, 59, 21, 76, 98, 55, 2, 92, 69, 43, 9, 77, 27, 52, 20, 61, 16, 15, 36, 75, 33, 72, 71, 94]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
set1 = set(sample_list_1)

print(len(set1), "Yes because there is replacement when using the variable random.sample()")

80 Yes because there is replacement when using the variable random.sample()

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [5]:
from random import randrange
sample_list_2 = []
for number in range(80):
    sample_list_2.append(randrange(1, 100))
    
print(sample_list_2)

[2, 26, 34, 80, 71, 86, 72, 89, 99, 98, 8, 57, 80, 78, 69, 61, 56, 47, 63, 19, 9, 69, 83, 13, 90, 86, 13, 78, 71, 76, 75, 55, 61, 69, 44, 45, 54, 98, 56, 68, 66, 94, 99, 76, 82, 82, 32, 88, 63, 61, 37, 46, 3, 82, 77, 30, 92, 3, 30, 6, 69, 11, 50, 17, 93, 65, 42, 95, 27, 66, 95, 88, 54, 54, 98, 26, 87, 40, 24, 90]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
set2 = set(sample_list_2)

print(len(set2), "the lenght has changed since sets don't allow for repeats.")

53 the lenght has changed since sets don't allow for repeats.

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
set3 = set()
for number in set1:
    if number not in set2: 
        set3.add(number)
        
print(set3)

{1, 4, 5, 7, 14, 15, 16, 18, 20, 21, 23, 25, 29, 31, 33, 35, 36, 39, 41, 43, 48, 49, 52, 53, 59, 60, 62, 64, 70, 73, 74, 79, 81, 91, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
set4 = set()
for number in set2:
    if number not in set1:
        set4.add(number)
print(set4)

{34, 66, 6, 11, 45, 46, 54, 86}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
set5 = set()
for number in set1:
    if number in set2:
        set5.add(number)
        
print(set5)

{2, 3, 8, 9, 13, 17, 19, 24, 26, 27, 30, 32, 37, 40, 42, 44, 47, 50, 55, 56, 57, 61, 63, 65, 68, 69, 71, 72, 75, 76, 77, 78, 80, 82, 83, 87, 88, 89, 90, 92, 93, 94, 95, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [10]:
print(len(set1),"this is the maximun length of our sets")
print(len(set2),"this is the maximun lenght of our sets but without any repeats")
print(len(set3),"this are the diferences in between the two, ie numbers that didn't make it into set 2 due to repeats")
print(len(set4),"this are the repeats inside of set 2 ")
print(len(set5),"numbers both in set 1 and 2 ")

80 this is the maximun length of our sets
53 this is the maximun lenght of our sets but without any repeats
35 this are the diferences in between the two, ie numbers that didn't make it into set 2 due to repeats
8 this are the repeats inside of set 2
45 numbers both in set 1 and 2

#### Create an empty set called `set6`.

In [11]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:

set6.update(set3, set5)

print(set6)

{1, 2, 3, 4, 5, 7, 8, 9, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 44, 47, 48, 49, 50, 52, 53, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [13]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [14]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
set5.union(set3, set4, set5)
set1.union(set1, set2)

print(set5 == set1)

False

#### Using the `pop` method, remove the first element from `set1`.

In [16]:
element_popped = set1.pop()  

print(element_popped)

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [18]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for number in set1:
    if number not in list_to_remove:
        copy_of_set = set1.copy()
        copy_of_set.remove(number)
        
        

    
print(f"the remaining elements are {copy_of_set}")

the remaining elements are {2, 3, 4, 5, 7, 8, 9, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 44, 47, 48, 49, 50, 52, 53, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 99}