## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(0, 100), k=80)

print(sample_list_1)

[58, 15, 10, 60, 55, 99, 27, 50, 23, 90, 33, 65, 73, 59, 12, 57, 22, 89, 64, 21, 48, 72, 24, 28, 44, 39, 16, 76, 68, 46, 63, 36, 20, 88, 47, 3, 11, 2, 8, 95, 97, 78, 82, 79, 69, 29, 84, 0, 30, 18, 77, 54, 53, 92, 31, 49, 71, 75, 13, 66, 17, 1, 37, 67, 35, 4, 87, 34, 98, 19, 94, 43, 45, 40, 93, 26, 83, 32, 25, 74]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [4]:
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randrange(0, 100))

print(sample_list_2)
len(sample_list_2)

[97, 10, 65, 18, 90, 59, 70, 52, 61, 53, 98, 90, 1, 96, 48, 58, 92, 71, 84, 50, 35, 46, 16, 45, 24, 54, 50, 65, 72, 39, 76, 54, 22, 12, 44, 80, 79, 83, 5, 96, 56, 75, 75, 55, 41, 10, 62, 5, 99, 7, 62, 24, 3, 75, 39, 33, 89, 5, 32, 10, 84, 85, 27, 51, 87, 20, 46, 61, 92, 46, 73, 54, 9, 64, 91, 83, 28, 56, 23, 18]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(len(set2))

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1.difference(set2)
print(set3)

{0, 2, 4, 8, 11, 13, 15, 17, 19, 21, 25, 26, 29, 30, 31, 34, 36, 37, 40, 43, 47, 49, 57, 60, 63, 66, 67, 68, 69, 74, 77, 78, 82, 88, 93, 94, 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2.difference(set1)
print(set4)

{96, 5, 70, 7, 9, 41, 80, 51, 52, 85, 56, 91, 61, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1.intersection(set2)
print(set5)

{1, 3, 10, 12, 16, 18, 20, 22, 23, 24, 27, 28, 32, 33, 35, 39, 44, 45, 46, 48, 50, 53, 54, 55, 58, 59, 64, 65, 71, 72, 73, 75, 76, 79, 83, 84, 87, 89, 90, 92, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [9]:
print(f"The first set has higher len because each number was unique: {len(set1)}")
print(f"The second set has fewer len because there weren't unique numbers: {len(set2)}")
print(f"The elements that share in common is the set1 - set5: {len(set3)}")
print(f"As the lenght of set1 is higher than set2, the missing values are much fewer: {len(set4)}")
print(f"The elements that share in common is the set2 - set4: {len(set5)}")

The first set has higher len because each number was unique: 80
The second set has fewer len because there weren't unique numbers: 57
The elements that share in common is the set1 - set5: 37
As the lenght of set1 is higher than set2, the missing values are much fewer: 14
The elements that share in common is the set2 - set4: 43

#### Create an empty set called `set6`.

In [10]:
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 8, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 43, 44, 45, 46, 47, 48, 49, 50, 53, 54, 55, 57, 58, 59, 60, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 87, 88, 89, 90, 92, 93, 94, 95, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
def equal(set1, set6):
    if set1 == set6:
        return True
    else:
        return False

print(equal(set1, set6))

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [13]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
set3_to_5 = set3.union(set4, set5)
print(f"This is the union from set3 to 5: {set3_to_5}.")
all_sets = set3_to_5.union(set1, set2)
print(f"This is the aggregated set1 and set2 to set3 to 5: {all_sets}.")

This is the union from set3 to 5: {0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}.
This is the aggregated set1 and set2 to set3 to 5: {0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}.

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
set_pop = set1.pop()
print(set1)

{1, 2, 3, 4, 8, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 43, 44, 45, 46, 47, 48, 49, 50, 53, 54, 55, 57, 58, 59, 60, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 87, 88, 89, 90, 92, 93, 94, 95, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for numbers in list_to_remove:
    if numbers in set1:
        set1.remove(numbers)

print(set1)

{2, 3, 4, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 40, 43, 44, 45, 46, 47, 48, 50, 53, 54, 55, 57, 58, 60, 63, 64, 65, 66, 67, 68, 72, 73, 74, 75, 76, 77, 78, 82, 83, 84, 87, 88, 90, 92, 93, 94, 95, 97, 98}