## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [5]:
sample_list_1 = random.sample(range(0,100),80)
print (sample_list_1)

# Return a k length list of unique elements chosen from the population sequence or set. Used for random sampling without replacement.
# Returns a new list containing elements from the population while leaving the original population unchanged.
# To choose a sample from a range of integers, use a range() object as an argument.

[68, 98, 2, 42, 91, 14, 81, 46, 53, 49, 36, 62, 5, 10, 97, 54, 74, 76, 28, 72, 61, 89, 43, 60, 56, 4, 64, 41, 92, 71, 30, 3, 75, 90, 25, 48, 96, 79, 23, 99, 1, 8, 13, 52, 31, 18, 51, 73, 67, 12, 66, 84, 6, 55, 83, 85, 9, 33, 27, 88, 22, 16, 15, 65, 35, 21, 19, 37, 87, 45, 26, 11, 32, 7, 93, 57, 47, 86, 17, 50]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [6]:
set1 = set(sample_list_1)
print (len(set1))

# Yes, the length remains unchanged. 
# We just changed the nature of the element from list to set.

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [14]:
sample_list_2 = []

# In this case the values don't have to be unique, so no need for random.sample
# I set random range 101 to include both 0 and 100 (otherwise 100 would fall out).


for i in range(80):
    x = random.randrange(101)
    sample_list_2.append(x)
    
print(sample_list_2)
print ("length is ", len(sample_list_2))

[73, 99, 55, 3, 42, 38, 0, 17, 75, 37, 66, 19, 88, 96, 59, 98, 31, 29, 20, 56, 5, 60, 54, 10, 29, 80, 31, 91, 46, 95, 48, 17, 37, 19, 33, 64, 88, 20, 11, 73, 84, 73, 62, 47, 87, 90, 70, 61, 84, 40, 87, 11, 20, 18, 40, 20, 56, 5, 66, 38, 66, 66, 84, 87, 30, 55, 67, 62, 49, 7, 53, 31, 47, 33, 47, 5, 21, 19, 54, 95]
length is  80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [15]:
set2 = set(sample_list_2)
print(set2)

print("length is now ", len(set2))

# length is no longer 80 because there are repeated numbers in the list.
# when turning the list into a set, the repeated numbers are eliminated.
# hence why the length of the set is shorter now.

{0, 3, 5, 7, 10, 11, 17, 18, 19, 20, 21, 29, 30, 31, 33, 37, 38, 40, 42, 46, 47, 48, 49, 53, 54, 55, 56, 59, 60, 61, 62, 64, 66, 67, 70, 73, 75, 80, 84, 87, 88, 90, 91, 95, 96, 98, 99}
length is now  47

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [16]:
set3 = []
for i in set1:
    if i not in set2:
        set3.append(i)  

set3 = set(set3)
print (set3)

{1, 2, 4, 6, 8, 9, 12, 13, 14, 15, 16, 22, 23, 25, 26, 27, 28, 32, 35, 36, 41, 43, 45, 50, 51, 52, 57, 65, 68, 71, 72, 74, 76, 79, 81, 83, 85, 86, 89, 92, 93, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [17]:
set4 = []
for i in set2:
    if i not in set1:
        set4.append(i)
set4 = set(set4)      
print (set4)

{0, 38, 70, 40, 80, 20, 59, 29, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [18]:
set5 = []
for i in set1:
    if i in set2:
        set5.append(i)
set5 = set(set5)
print (set5)

{3, 5, 7, 10, 11, 17, 18, 19, 21, 30, 31, 33, 37, 42, 46, 47, 48, 49, 53, 54, 55, 56, 60, 61, 62, 64, 66, 67, 73, 75, 84, 87, 88, 90, 91, 96, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [33]:
# set1 relates to a sample list, formed by unique elements, ranged 80
# set2 relates to a sample with repeated elements which are removed when creating the set. Hence the length is shorter
# set3 relates to the numbers present in set1 which are not in set 2
# set4 relates to numbers present in set2 which are not in set4
# set5 relates to shared values

# when adding up set3+set5 we should get the length of set1
# when adding up set4+set5 we should get the length of set2

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

check_set1 = len(set3) + len(set5)
print ("check set1 ", check_set1)

check_set2 = len(set4) + len(set5)
print ("check set2 ", check_set2)

80
47
42
9
38
check set1  80
check set2  47

#### Create an empty set called `set6`.

In [34]:
set6 = set()
print (set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [35]:
set6.update(set3)
set6.update(set5)
print(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 25, 26, 27, 28, 30, 31, 32, 33, 35, 36, 37, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 60, 61, 62, 64, 65, 66, 67, 68, 71, 72, 73, 74, 75, 76, 79, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [36]:
# Your code here
if set1==set6:
    print ("True")
else:
    print ("False")

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [37]:
# Your code here
check_2in1 = set2.issubset(set1)
print (check_2in1)

check_3in1 = set3.issubset(set1)
print (check_3in1)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [41]:
# Your code here
set3Uset4Uset5= set3.union(set4, set5)
print (set3Uset4Uset5)

set1Uset2= set1.union(set2)
print (set1Uset2)

if set3Uset4Uset5==set1Uset2:
    print ("True")
else:
    print ("False")

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}
True

#### Using the `pop` method, remove the first element from `set1`.

In [55]:
# Your code here

print (set1)

list1 = list (set1)
list1.pop(0)
set1_modified = set(list1)
print(set1_modified)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 25, 26, 27, 28, 30, 31, 32, 33, 35, 36, 37, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 60, 61, 62, 64, 65, 66, 67, 68, 71, 72, 73, 74, 75, 76, 79, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 96, 97, 98, 99}
{3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 25, 26, 27, 28, 30, 31, 32, 33, 35, 36, 37, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 60, 61, 62, 64, 65, 66, 67, 68, 71, 72, 73, 74, 75, 76, 79, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [68]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
new_list1=[]

for item in list1:
    if item not in list_to_remove:
        new_list1.append(item)

new_set1 = set(new_list1)
print(new_set1)

{3, 5, 6, 7, 8, 10, 12, 14, 15, 17, 18, 22, 23, 25, 26, 28, 30, 32, 33, 35, 36, 37, 42, 43, 46, 47, 50, 52, 53, 54, 55, 56, 60, 64, 65, 66, 67, 68, 72, 73, 75, 76, 83, 84, 85, 86, 87, 88, 92, 96, 97, 98}