## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

sample_list_1 = random.sample(range(100),80)
print(sample_list_1)

[41, 51, 86, 36, 49, 68, 27, 61, 47, 35, 11, 22, 20, 5, 79, 58, 97, 39, 34, 26, 21, 84, 76, 94, 18, 81, 33, 1, 99, 3, 40, 6, 70, 89, 69, 74, 8, 54, 77, 43, 0, 55, 12, 30, 64, 75, 92, 73, 32, 16, 2, 88, 46, 65, 38, 25, 56, 14, 87, 72, 31, 96, 17, 67, 83, 4, 42, 98, 52, 59, 13, 50, 60, 10, 90, 91, 37, 93, 45, 71]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1=set(sample_list_1)
print(set1)
print()
print('len is',len(set1))

{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 16, 17, 18, 20, 21, 22, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 49, 50, 51, 52, 54, 55, 56, 58, 59, 60, 61, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

len is 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [4]:
# Your code here

sample_list_2 = []

for i in range(80):
    i = random.randrange(101)
    sample_list_2.append(i)
    
print(sample_list_2)
print()
print(len(sample_list_2))

#ample_list_2 = [random.randrange(100) for i in range(80)]
#random.randrange(start, stop[, step])

[5, 93, 83, 18, 26, 2, 41, 38, 23, 43, 32, 65, 90, 34, 71, 22, 67, 1, 24, 28, 17, 33, 43, 88, 61, 89, 45, 13, 76, 7, 67, 50, 35, 56, 18, 1, 60, 53, 30, 68, 55, 39, 99, 47, 61, 61, 74, 92, 12, 37, 38, 40, 7, 91, 0, 91, 53, 10, 68, 55, 48, 36, 51, 3, 57, 47, 4, 49, 58, 30, 70, 31, 90, 28, 98, 82, 63, 27, 34, 8]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 = set(sample_list_2)
print(len(set2))
len(set2)==len(sample_list_2)

63

False

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3 = set1-set2
print(set3)

{6, 11, 14, 16, 20, 21, 25, 42, 46, 52, 54, 59, 64, 69, 72, 73, 75, 77, 79, 81, 84, 86, 87, 94, 96, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2-set1
print(set4)

{7, 48, 82, 53, 23, 24, 57, 28, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1 & set2

#Alternative soluction
#set5= set1.intersection(set2)

print(set5)

{0, 1, 2, 3, 4, 5, 8, 10, 12, 13, 17, 18, 22, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 45, 47, 49, 50, 51, 55, 56, 58, 60, 61, 65, 67, 68, 70, 71, 74, 76, 83, 88, 89, 90, 91, 92, 93, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [9]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

print('len(set4) = len(set2) - len(set5)')
print('len(set5) = len(set1) - len(set3)')

80
63
26
9
54
len(set4) = len(set2) - len(set5)
len(set5) = len(set1) - len(set3)

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6=[]
set6=set(set6)
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
print(set3)
print(set5)
set6.update(set3,set5) 
print(set6)
#https://beginnersbook.com/2019/04/python-set-update-method/

{6, 11, 14, 16, 20, 21, 25, 42, 46, 52, 54, 59, 64, 69, 72, 73, 75, 77, 79, 81, 84, 86, 87, 94, 96, 97}
{0, 1, 2, 3, 4, 5, 8, 10, 12, 13, 17, 18, 22, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 45, 47, 49, 50, 51, 55, 56, 58, 60, 61, 65, 67, 68, 70, 71, 74, 76, 83, 88, 89, 90, 91, 92, 93, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 16, 17, 18, 20, 21, 22, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 49, 50, 51, 52, 54, 55, 56, 58, 59, 60, 61, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [13]:
# Your code here
print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
set3 | set4 | set5 == set1 | set2

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
print(set1)
set1.pop()
print(set1)

{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 16, 17, 18, 20, 21, 22, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 49, 50, 51, 52, 54, 55, 56, 58, 59, 60, 61, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}
{1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 16, 17, 18, 20, 21, 22, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 49, 50, 51, 52, 54, 55, 56, 58, 59, 60, 61, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)

print(set1)

{2, 3, 4, 5, 6, 8, 10, 12, 13, 14, 16, 17, 18, 20, 22, 25, 26, 27, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 45, 46, 47, 50, 52, 54, 55, 56, 58, 60, 64, 65, 67, 68, 70, 72, 73, 74, 75, 76, 77, 83, 84, 86, 87, 88, 90, 92, 93, 94, 96, 97, 98}