## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

# It is not specified if 0 and 100 are included in the possible numbers so I will include them. 
# To do so, the range of the population will be 101, so 100 will be included.

sample_list_1 = random.sample(range(101), 80)

print(sample_list_1)

[43, 19, 49, 70, 18, 58, 53, 36, 44, 80, 69, 1, 59, 9, 12, 94, 41, 8, 2, 16, 28, 72, 51, 7, 67, 45, 79, 62, 40, 81, 75, 73, 46, 63, 47, 5, 87, 24, 66, 85, 65, 17, 71, 78, 32, 88, 100, 97, 50, 86, 68, 60, 20, 25, 22, 56, 91, 99, 31, 42, 57, 93, 92, 95, 0, 27, 30, 34, 90, 82, 6, 23, 10, 96, 84, 26, 61, 83, 14, 15]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here

set1 = set(sample_list_1)

print("Yeah, the lenght of the set still:", len(set1))

Yeah, the lenght of the set still: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [4]:
# Your code here

sample_list_2 = []

for i in range(101):
    sample_list_2.append(random.randrange(100))
    
print(sample_list_2)

[31, 19, 28, 24, 85, 23, 80, 34, 29, 50, 66, 12, 18, 47, 78, 79, 87, 76, 64, 14, 17, 72, 64, 49, 14, 49, 98, 95, 99, 18, 66, 53, 91, 75, 66, 61, 6, 88, 47, 83, 59, 27, 81, 38, 80, 20, 64, 58, 54, 72, 66, 85, 4, 88, 84, 78, 43, 29, 39, 33, 47, 8, 53, 4, 4, 30, 91, 53, 63, 20, 80, 64, 99, 8, 32, 86, 89, 12, 81, 92, 81, 93, 84, 59, 26, 30, 31, 5, 26, 88, 10, 41, 23, 38, 51, 47, 89, 40, 14, 63, 82]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 = set(sample_list_2)

print("Yeah, the lenght of the set still:", len(set1))

Yeah, the lenght of the set still: 80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3 = []

for element in set1:
    if element not in set2:        
        set3.append(element)

set3 = set(set3)
print(set3)

{0, 1, 2, 7, 9, 15, 16, 22, 25, 36, 42, 44, 45, 46, 56, 57, 60, 62, 65, 67, 68, 69, 70, 71, 73, 90, 94, 96, 97, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here

set4 = []

for element in set2:
    if element not in set1:        
        set4.append(element)

set4 = set(set4)
print(set4)

{64, 33, 98, 4, 38, 39, 76, 54, 89, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here

set5 = []

for element in set1:
    if element in set2:        
        set5.append(element)

set5 = set(set5)
print(set5)

{5, 6, 8, 10, 12, 14, 17, 18, 19, 20, 23, 24, 26, 27, 28, 30, 31, 32, 34, 40, 41, 43, 47, 49, 50, 51, 53, 58, 59, 61, 63, 66, 72, 75, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 91, 92, 93, 95, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [9]:
# Your code here

print(len(set1),len(set2),len(set3),len(set4),len(set5))


len(set1) == (len(set2)+len(set4))
len(set1) == (len(set3)+len(set5))

80 60 30 10 50

True

#### Create an empty set called `set6`.

In [10]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here

set6.update(set3, set5)

print(set6)

{0, 1, 2, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 34, 36, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 53, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here

set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [13]:
# Your code here

#It is checked if set2 is contained in set1.

set2.issubset(set1)

#It is checked if set3 is contained in set1.

set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here

set3.union(set4,set5)

set3.union(set1,set2)

{0,
 1,
 2,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 12,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 36,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 49,
 50,
 51,
 53,
 54,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 75,
 76,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100}

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here

set1.remove(0)

print(set1)

{1, 2, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 34, 36, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 53, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

print("The set1 before removing the elements:", set1)

for element in list_to_remove:
    if element in set1:
        set1.remove(element)
    
print("The set1 after removing the elements:",set1)

The set1 before removing the elements: {1, 2, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 34, 36, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 53, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}
The set1 after removing the elements: {2, 5, 6, 7, 8, 10, 12, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 34, 36, 40, 42, 43, 44, 45, 46, 47, 50, 53, 56, 57, 58, 60, 62, 63, 65, 66, 67, 68, 70, 72, 73, 75, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 100}