## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
sample_list_1=[]
for i in range(80):
    sample_list_1.append(random.randint(0,100))
print(sample_list_1)

print("\nOr we can also do: \n",[random.randint(0,100) for i in range(80)])

[15, 38, 61, 82, 67, 78, 73, 98, 98, 12, 6, 16, 37, 86, 48, 58, 42, 63, 32, 21, 49, 35, 0, 5, 22, 86, 72, 42, 52, 35, 67, 52, 25, 25, 54, 76, 94, 27, 36, 98, 81, 92, 21, 49, 60, 33, 38, 89, 74, 21, 43, 78, 64, 52, 87, 14, 86, 53, 56, 56, 54, 70, 71, 99, 55, 92, 99, 77, 27, 0, 99, 17, 48, 96, 45, 32, 55, 52, 36, 96]

Or we can also do:
 [90, 43, 55, 54, 38, 24, 91, 98, 31, 27, 19, 11, 33, 14, 97, 1, 45, 75, 98, 55, 47, 14, 3, 70, 12, 34, 32, 28, 88, 42, 59, 72, 55, 38, 12, 94, 82, 5, 46, 8, 85, 61, 75, 27, 94, 97, 91, 30, 17, 30, 65, 50, 81, 35, 80, 72, 36, 70, 8, 83, 95, 39, 5, 26, 73, 65, 92, 43, 8, 66, 4, 79, 88, 68, 63, 89, 24, 4, 100, 46]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [42]:
set1=set(sample_list_1)
print(set1)
print("\nlength is now:",len(set1))

{0, 5, 6, 12, 14, 15, 16, 17, 21, 22, 25, 27, 32, 33, 35, 36, 37, 38, 42, 43, 45, 48, 49, 52, 53, 54, 55, 56, 58, 60, 61, 63, 64, 67, 70, 71, 72, 73, 74, 76, 77, 78, 81, 82, 86, 87, 89, 92, 94, 96, 98, 99}

length is now: 52

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [5]:
sample_list_2=[random.randrange(0,100) for i in range(80)]
print(sample_list_2)

[18, 31, 88, 47, 77, 95, 62, 21, 84, 66, 76, 16, 54, 91, 61, 23, 39, 28, 7, 35, 23, 73, 68, 64, 38, 8, 47, 26, 59, 13, 2, 79, 77, 16, 76, 8, 42, 87, 50, 14, 35, 29, 78, 45, 46, 32, 15, 8, 95, 67, 91, 71, 21, 64, 58, 95, 60, 77, 15, 43, 42, 71, 96, 1, 10, 23, 46, 49, 56, 81, 43, 45, 94, 75, 43, 52, 64, 28, 77, 43]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
set2=set(sample_list_2)
print(set2)
print("\nlength is now:",len(set2))

{1, 2, 7, 8, 10, 13, 14, 15, 16, 18, 21, 23, 26, 28, 29, 31, 32, 35, 38, 39, 42, 43, 45, 46, 47, 49, 50, 52, 54, 56, 58, 59, 60, 61, 62, 64, 66, 67, 68, 71, 73, 75, 76, 77, 78, 79, 81, 84, 87, 88, 91, 94, 95, 96}

length is now: 54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
set3=[]
for element in set1:
    if element not in set2:
        set3.append(element)
set3=set(set3)
print(set3)

{0, 5, 6, 12, 17, 22, 25, 27, 33, 36, 37, 48, 53, 55, 63, 70, 72, 74, 82, 86, 89, 92, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
set4=[]
for element in set2:
    if element not in set1:
        set4.append(element)
set4=set(set4)
print(set4)

{1, 2, 7, 8, 10, 13, 18, 23, 26, 28, 29, 31, 39, 46, 47, 50, 59, 62, 66, 68, 75, 79, 84, 88, 91, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
set5=[]
for element in set2:
    if element in set1:
        set5.append(element)
set5=set(set5)
print(set5)

{14, 15, 16, 21, 32, 35, 38, 42, 43, 45, 49, 52, 54, 56, 58, 60, 61, 64, 67, 71, 73, 76, 77, 78, 81, 87, 94, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [10]:
#The relationship is the following

print(len(set1)==len(set3)+len(set5))
print(len(set2)==len(set4)+len(set5))

True
True

#### Create an empty set called `set6`.

In [11]:
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
set6.update(set3)
set6.update(set5)
print(set6)

{0, 5, 6, 12, 14, 15, 16, 17, 21, 22, 25, 27, 32, 33, 35, 36, 37, 38, 42, 43, 45, 48, 49, 52, 53, 54, 55, 56, 58, 60, 61, 63, 64, 67, 70, 71, 72, 73, 74, 76, 77, 78, 81, 82, 86, 87, 89, 92, 94, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [13]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [14]:
print("set2 in set1:",set2.issubset(set1))
print("set3 in set1:",set3.issubset(set1))

set2 in set1: False
set3 in set1: True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
x=set3.union(set4)
y=x.union(set5)
z=set1.union(set2)
y==z

True

#### Using the `pop` method, remove the first element from `set1`.

In [43]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [44]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for item in list_to_remove:
    if item in set1:
        set1.remove(item)
print(set1)

{5, 6, 12, 14, 15, 16, 17, 22, 25, 27, 32, 33, 35, 36, 37, 38, 42, 43, 45, 48, 52, 53, 54, 55, 56, 58, 60, 63, 64, 67, 70, 72, 73, 74, 76, 77, 78, 82, 86, 87, 92, 94, 96, 98}