## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element. The reason for this is that a tuple is defined as a series of comma-separated values. The parenthesis are not actually needed and are used simply for clarity. Therefore if we try to create a tuple without using a comma Python will simply interpret the element as a single element, be it a string, int or other types.*

In [11]:
tup=("I",)

In [12]:
print(tup)

('I',)

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [13]:
type(tup)

tuple

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k"
```

In [14]:
tup = ("r", "o", "n", "h", "a", "c", "k")

print(tup)

('r', 'o', 'n', 'h', 'a', 'c', 'k')



Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [15]:
tup = ("I", "r", "o", "n", "h", "a", "c", "k")

print (tup)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [2]:
tup1=("I", "r", "o", "n")
tup2=("h", "a", "c", "k")
print(tup1)
print(tup2)

('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [3]:
tup3 = tup1 + tup2 

print(tup3)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`.

In [18]:
len((tup1)+(tup2))
len(tup3)

8

#### What is the index number of `"h"` in `tup3`?

In [19]:
tup3[4]

'h'

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [20]:
letters = ["a", "b", "c", "d", "e"]


for i in letters:
    if i in tup3:
        print(i,"-", True)
    else:
        print(i,"-",False)

a - True
b - False
c - True
d - False
e - False

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [21]:
numbers_letters = []

for letter in letters:
    print(tup3.count(letter))

1
0
1
0
0

**BONUS: use tuple unpacking together with the** `range()` **function to print all the integers from 10 to 20.**

In [3]:
# Your code here
range(10,20)

<class 'range'>