## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [20]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [21]:
sample_list_1=random.sample(range(100),80)

print(sample_list_1)
print(len(sample_list_1))

[82, 64, 97, 88, 20, 56, 18, 37, 93, 86, 40, 25, 43, 33, 21, 70, 89, 77, 51, 50, 67, 63, 45, 7, 23, 69, 71, 31, 0, 48, 78, 49, 26, 44, 90, 19, 5, 8, 73, 30, 54, 83, 34, 68, 57, 27, 10, 32, 85, 14, 60, 41, 58, 91, 35, 52, 94, 22, 13, 81, 46, 29, 79, 84, 6, 42, 87, 47, 16, 24, 55, 36, 72, 74, 62, 9, 12, 76, 98, 59]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [22]:
set1 = set(sample_list_1)
print(len(set1))

#Yes it's still the same since the random sample does not allow for duplicates

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [23]:
sample_list_2= []
for item in range(80):
        number = random.randrange(100)
        sample_list_2.append(number)

print(sample_list_2)
print(len(sample_list_2))

[41, 18, 45, 48, 40, 88, 57, 75, 91, 35, 91, 90, 89, 60, 29, 56, 10, 12, 69, 2, 9, 47, 27, 48, 83, 19, 15, 51, 8, 11, 2, 83, 9, 99, 69, 42, 82, 25, 36, 99, 7, 14, 1, 54, 96, 22, 82, 62, 4, 85, 19, 2, 64, 98, 9, 29, 11, 56, 38, 53, 35, 53, 19, 14, 24, 43, 25, 67, 58, 37, 46, 70, 99, 6, 29, 20, 22, 55, 45, 47]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [24]:
set2 = set(sample_list_2)
print(len(set2))

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [25]:
set3 = []
for item in set1:
    if item not in set2:
        set3.append(item)


set3 = set(set3)
print(set3)

{0, 5, 13, 16, 21, 23, 26, 30, 31, 32, 33, 34, 44, 49, 50, 52, 59, 63, 68, 71, 72, 73, 74, 76, 77, 78, 79, 81, 84, 86, 87, 93, 94, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [26]:
set4 = []
for item in set2:
    if item not in set1:
        set4.append(item)


set4 = set(set4)
print(set4)

{96, 1, 2, 99, 4, 38, 11, 75, 15, 53}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [27]:
set5 = []
for item in set1:
    if item  in set2:
        set5.append(item)

set5 = set(set5)
print(set5)

{6, 7, 8, 9, 10, 12, 14, 18, 19, 20, 22, 24, 25, 27, 29, 35, 36, 37, 40, 41, 42, 43, 45, 46, 47, 48, 51, 54, 55, 56, 57, 58, 60, 62, 64, 67, 69, 70, 82, 83, 85, 88, 89, 90, 91, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [29]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

'''It is clear that the sum of sets 5  and 4 , and 5 and 3 give us respectively the values of 2 and 1. 
This is simillar to what we saw with Venn diagrams. Set 1 comes from a method of random sampling that does not allow for duplicates.
when we transformed the second sample to the set, it lost many values because it did have duplicates, that is set2.
set 3 is the part of set1 that does not touch set2. Set4 is the part of set 2 that does not toch set1
and set5 is the intersection'''

80
56
34
10
46

'It is clear that the sum of sets 5  and 4 , and 5 and 3 give us respectively the values of 2 and 1. \nThis is simillar to what we saw with Venn diagrams. Set 1 comes from a method of random sampling that does not allow for duplicates.\nwhen we transformed the second sample to the set, it lost many values because it did have duplicates, that is set2.\nset 3 is the part of set1 that does not touch set2. Set4 is the part of set 2 that does not toch set1\nand set5 is the intersection'

#### Create an empty set called `set6`.

In [30]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [31]:
set6.update(set5) 
set6.update(set3)
print(set6)

{0, 5, 6, 7, 8, 9, 10, 12, 13, 14, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 97, 98}

#### Check if `set1` and `set6` are equal.

In [32]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [34]:
check1=set1.issubset(set2)
check2=set3.issubset(set1)

print(check1)
print(check2)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [35]:
union1=set3.union(set4)
union_1=union1.union(set5)

union_2=set1.union(set2)

print(union_1)
print(union_2)

union_1 == union_2

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99}
{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99}

True

#### Using the `pop` method, remove the first element from `set1`.

In [36]:
set1.pop()
print(set1)

{5, 6, 7, 8, 9, 10, 12, 13, 14, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [39]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for item in list_to_remove:
    if item in set1:
        set1.remove(item)
print(set1)

{5, 6, 7, 8, 10, 12, 13, 14, 16, 18, 20, 22, 23, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 37, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 67, 68, 70, 72, 73, 74, 76, 77, 78, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 97, 98}