## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(101),k=80)
print(sample_list_1)

[16, 48, 100, 47, 39, 41, 83, 29, 63, 65, 31, 20, 40, 58, 57, 89, 19, 12, 84, 82, 49, 18, 95, 94, 23, 32, 68, 97, 92, 67, 54, 59, 74, 70, 24, 45, 46, 0, 43, 80, 61, 96, 72, 35, 2, 98, 10, 17, 44, 86, 5, 37, 26, 81, 34, 7, 53, 90, 52, 27, 71, 4, 25, 14, 9, 38, 60, 13, 66, 78, 88, 28, 22, 93, 77, 50, 42, 85, 69, 64]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [4]:
# Your code here
sample_list_2 = []

for i in range(0,80):
    sample_list_2.append(random.randrange(0,100))

print(sample_list_2)
print(len(sample_list_2))

[43, 1, 53, 55, 57, 15, 91, 92, 19, 2, 0, 23, 55, 18, 85, 46, 33, 72, 39, 97, 36, 79, 50, 48, 33, 91, 91, 59, 75, 18, 88, 8, 70, 64, 71, 60, 88, 89, 87, 3, 9, 27, 93, 23, 6, 0, 23, 75, 44, 31, 60, 27, 23, 97, 31, 1, 85, 55, 29, 65, 4, 78, 41, 8, 94, 96, 68, 71, 24, 50, 5, 13, 86, 34, 63, 90, 88, 76, 35, 69]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 = set(sample_list_2)
print(len(set2))

#The length is less as set only tajkes into account unique values

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3 = set1.difference(set2)
print(set3)

{7, 10, 12, 14, 16, 17, 20, 22, 25, 26, 28, 32, 37, 38, 40, 42, 45, 47, 49, 52, 54, 58, 61, 66, 67, 74, 77, 80, 81, 82, 83, 84, 95, 98, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{1, 33, 3, 36, 6, 8, 75, 76, 15, 79, 87, 55, 91}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here

set5 = set1.intersection(set2)
print(set5)

{0, 2, 4, 5, 9, 13, 18, 19, 23, 24, 27, 29, 31, 34, 35, 39, 41, 43, 44, 46, 48, 50, 53, 57, 59, 60, 63, 64, 65, 68, 69, 70, 71, 72, 78, 85, 86, 88, 89, 90, 92, 93, 94, 96, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [9]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
58
35
13
45

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 2, 4, 5, 7, 9, 10, 12, 13, 14, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 77, 78, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [13]:
# Your code here
print('set2 is a subset of set1:',set2.issubset(set1))
print('set3 is a subset of set1:',set3.issubset(set1))

set2 is a subset of set1: False
set3 is a subset of set1: True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
print(set3.union(set4,set5))
print(set1.union(set2))

set3.union(set4,set5) == set1.union(set2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here

#sets contain unordered elements therefore I cannot identify the first element in set1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

# print(list_to_remove)
# print(set1)

set1 = set([i for i in list_to_remove if i not in set1])
print(set1)

{1, 99, 11, 79, 51, 21, 91}