## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [62]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [ ]:
# random.sample(population, k, *, counts=None)Â¶

In [63]:
sample_list_1 = random.sample(range(100),80)

print(sample_list_1)

[33, 84, 77, 91, 64, 93, 71, 83, 17, 66, 48, 59, 20, 30, 35, 49, 68, 2, 16, 69, 94, 31, 78, 89, 53, 55, 73, 36, 51, 52, 88, 0, 58, 62, 46, 23, 22, 82, 11, 74, 61, 65, 86, 57, 95, 70, 5, 41, 10, 38, 32, 90, 43, 9, 92, 13, 26, 6, 97, 47, 99, 80, 85, 44, 98, 14, 81, 18, 3, 15, 7, 60, 75, 34, 63, 79, 4, 45, 27, 29]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [64]:
set1 = set(sample_list_1)

len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [65]:
sample_list_2 = []


for i in range(80):
    sample_list_2.append(random.randrange(0,100))


print(sample_list_2)

[57, 59, 35, 23, 15, 73, 99, 79, 17, 36, 76, 81, 94, 6, 88, 82, 1, 72, 74, 58, 22, 76, 27, 54, 81, 73, 51, 22, 8, 49, 24, 2, 76, 62, 93, 61, 71, 2, 80, 85, 27, 1, 63, 36, 60, 45, 90, 47, 31, 75, 8, 42, 40, 79, 60, 61, 84, 46, 59, 7, 31, 9, 8, 1, 48, 70, 94, 50, 83, 59, 4, 70, 90, 12, 7, 82, 35, 86, 40, 16]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [66]:
set2 = set(sample_list_2)

len(set2)

# here the number is less because we take away all the unique values

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [67]:
set3 = set1 - set2 

print(set3)

# you can only subtract. you cannot add

{0, 3, 5, 10, 11, 13, 14, 18, 20, 26, 29, 30, 32, 33, 34, 38, 41, 43, 44, 52, 53, 55, 64, 65, 66, 68, 69, 77, 78, 89, 91, 92, 95, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [68]:
set4 = set2 - set1

print(set4)

{1, 8, 40, 42, 72, 12, 76, 50, 54, 24}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [69]:
set5 = set1.intersection(set2)

print(set5)

{2, 4, 6, 7, 9, 15, 16, 17, 22, 23, 27, 31, 35, 36, 45, 46, 47, 48, 49, 51, 57, 58, 59, 60, 61, 62, 63, 70, 71, 73, 74, 75, 79, 80, 81, 82, 83, 84, 85, 86, 88, 90, 93, 94, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [70]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
55
35
10
45

#### Create an empty set called `set6`.

In [71]:
set6 = set()

type(set6)
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [72]:
set6.update(set3,set5)

print(len(set6))

print(set6)

80
{0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 17, 18, 20, 22, 23, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 38, 41, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [73]:
if set1 == set6:
    print("Sets are equal")
else:
    print("Sets are not equal")

Sets are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [74]:
contains = set2.issubset(set1)
print(contains)

contains2 = set3.issubset(set1)
print(contains2)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [75]:
total_set = set3.union(set4,set5)

total_set2 = set1.union(set2)

if total_set == total_set2:
    print("Equal")

Equal

#### Using the `pop` method, remove the first element from `set1`.

In [76]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [77]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

b = set(list_to_remove)

a = set(set1)

print(a-b)

{2, 3, 4, 5, 6, 7, 10, 13, 14, 15, 16, 17, 18, 20, 22, 23, 26, 27, 30, 32, 33, 34, 35, 36, 38, 43, 44, 45, 46, 47, 48, 52, 53, 55, 57, 58, 60, 62, 63, 64, 65, 66, 68, 70, 73, 74, 75, 77, 78, 80, 82, 83, 84, 85, 86, 88, 90, 92, 93, 94, 95, 97, 98}