## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [4]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [5]:
# Your code here

sample_list_1 = set(random.sample(range(100), 80))

print(sample_list_1)

{0, 2, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 50, 51, 52, 53, 54, 55, 58, 59, 60, 62, 63, 64, 66, 68, 69, 70, 71, 72, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 96, 99}

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here

set1 = set(sample_list_1)

print(len(set1))

#Yes the length still 80 as each value of the list had to be unique hence I created a set.

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [7]:
# Your code here
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(0, 100))

print(sample_list_2)

[63, 5, 1, 24, 75, 44, 12, 69, 24, 3, 65, 68, 90, 41, 46, 65, 2, 48, 98, 6, 46, 69, 61, 25, 20, 21, 9, 24, 51, 3, 82, 51, 16, 25, 39, 5, 50, 61, 57, 16, 3, 0, 78, 69, 80, 23, 71, 100, 25, 16, 50, 0, 56, 29, 18, 49, 74, 21, 61, 46, 17, 98, 19, 79, 93, 77, 45, 81, 38, 76, 84, 12, 49, 97, 1, 54, 24, 77, 70, 8]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here
set2 = set(sample_list_2)

print(len(set2))

#No, the lenght of the set is not the same as the initial list IÂ´ve created as now the set contains unique values.

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [9]:
# Your code here
set3 = []

for i in set1: 
    if i not in set2:
        set3.append(i)

print(set(set3))

{7, 10, 11, 13, 14, 15, 22, 27, 28, 30, 31, 33, 34, 35, 36, 37, 40, 42, 43, 47, 52, 53, 55, 58, 59, 60, 62, 64, 66, 72, 83, 85, 86, 88, 89, 91, 92, 96, 99}

In [10]:
set3 = set1 - set1.intersection(set2)

print(set3)

{7, 10, 11, 13, 14, 15, 22, 27, 28, 30, 31, 33, 34, 35, 36, 37, 40, 42, 43, 47, 52, 53, 55, 58, 59, 60, 62, 64, 66, 72, 83, 85, 86, 88, 89, 91, 92, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [11]:
# Your code here
set4 = []

for i in set2: 
    if i not in set1:
        set4.append(i)

print(set(set4))

{1, 65, 97, 98, 100, 6, 76, 48, 49, 17, 56, 57, 61}

In [12]:
set4 = set2 - set2.intersection(set1)

print(set4)

{1, 65, 97, 98, 100, 6, 76, 48, 49, 17, 56, 57, 61}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [13]:
# Your code here
set5 = []

for i in set1:
    if i in set2:
        set5.append(i)

print(set(set5))

{0, 2, 3, 5, 8, 9, 12, 16, 18, 19, 20, 21, 23, 24, 25, 29, 38, 39, 41, 44, 45, 46, 50, 51, 54, 63, 68, 69, 70, 71, 74, 75, 77, 78, 79, 80, 81, 82, 84, 90, 93}

In [14]:
set5 = set1.intersection(set2)

print(set5)

{0, 2, 3, 5, 8, 9, 12, 16, 18, 19, 20, 21, 23, 24, 25, 29, 38, 39, 41, 44, 45, 46, 50, 51, 54, 63, 68, 69, 70, 71, 74, 75, 77, 78, 79, 80, 81, 82, 84, 90, 93}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [15]:
# Your code here
len(set1)

80

In [16]:
len(set2)

54

In [17]:
len(set3)

39

In [18]:
len(set4)

13

In [19]:
len(set5)

41

#### Create an empty set called `set6`.

In [20]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [21]:
# Your code here
set6.update(set5)
set6.update(set3)

print(set6)

{0, 2, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 50, 51, 52, 53, 54, 55, 58, 59, 60, 62, 63, 64, 66, 68, 69, 70, 71, 72, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 96, 99}

#### Check if `set1` and `set6` are equal.

In [22]:
# Your code here

set1_6 = set1.isdisjoint(set6)

print(set1_6)

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [23]:
# Your code here

set1_2 = set1.issubset(set2)

print(set1_2)

set1_3 = set1.issubset(set2)

print(set1_3)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [24]:
# Your code here

set3.union(set4, set5)

print(set3)
print("-----------------")
set1.union(set2)
print(set1)
print("-----------------")
set_union = set1.issubset(set3)
print(set_union)

{7, 10, 11, 13, 14, 15, 22, 27, 28, 30, 31, 33, 34, 35, 36, 37, 40, 42, 43, 47, 52, 53, 55, 58, 59, 60, 62, 64, 66, 72, 83, 85, 86, 88, 89, 91, 92, 96, 99}
-----------------
{0, 2, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 50, 51, 52, 53, 54, 55, 58, 59, 60, 62, 63, 64, 66, 68, 69, 70, 71, 72, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 96, 99}
-----------------
False

#### Using the `pop` method, remove the first element from `set1`.

In [25]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [26]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove: 
    if i in set1:
        set1.remove(i)
print(set1)

{2, 3, 5, 7, 8, 10, 12, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 27, 28, 30, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 50, 52, 53, 54, 55, 58, 60, 62, 63, 64, 66, 68, 70, 72, 74, 75, 77, 78, 80, 82, 83, 84, 85, 86, 88, 90, 92, 93, 96}