## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(81), 80)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [4]:
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randrange(80))

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(len(set2))

49

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
preset3 = []

for i in set1:
    if i not in set2:
        preset3.append(i)
set3 = set(preset3)
print(set3)
print(len(set3))

{2, 6, 7, 8, 10, 12, 14, 16, 17, 20, 25, 26, 27, 33, 37, 39, 43, 44, 46, 48, 50, 53, 55, 63, 64, 66, 69, 70, 73, 74, 80}
31

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
preset4 = []

for i in set2:
    if i not in set1:
        preset4.append(i)
set4 = set(preset4)
print(len(set4))

0

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1 & set2
print(set5)
print(len(set5))

{1, 3, 4, 5, 9, 11, 13, 15, 18, 19, 21, 22, 23, 24, 28, 29, 30, 31, 32, 34, 35, 36, 38, 40, 41, 42, 45, 47, 49, 51, 52, 54, 56, 57, 58, 59, 60, 61, 62, 65, 67, 68, 71, 72, 75, 76, 77, 78, 79}
49

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [9]:
print(len(set1)) #first original sample list of 80 unique random numbers
print(len(set2)) #second original sample list of 80 random numbers - this list may contain duplicates which get removed when a list. 
                 #Sets can't contain dups, so will reduce the number of elemets automatically
print(len(set3)) #elements on set1 that did not appear in set 2. Therefore the number of duplicates in 
                 #set 2 is identified by len(set1) - len(set2) = 31
print(len(set4)) #elements in set2 which are not in set1 - there can only be max 1 (as 81 possible digits between 0 - 80), 
                 #set1 contains 80 - in this case there are 0
print(len(set5)) #intersection of set1 and set2 = common elements - 
                 #we know there are 49 elements in set2, all of which are in set1

80
49
31
0
49

#### Create an empty set called `set6`.

In [10]:
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Update method  
set6.update(set3)  
set6.update(set5) 
  
# Print the updated set  
print(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}

#### Check if `set1` and `set6` are equal.

In [12]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [13]:
chkissubset1 = set2.issubset(set1)
print(chkissubset1)

chkissubset2 = set3.issubset(set2)
print(chkissubset2)

True
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
sets345 = set3 | set4 | set5
sets12 = set1 | set2

sets345==sets12

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    set1.discard(i) 
    
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80}